body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1487px;
}
#u12304 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1487px;
}
#u12305 {
  position:absolute;
  left:2px;
  top:736px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12306 {
  position:absolute;
  left:391px;
  top:136px;
  width:178px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12307 {
  position:absolute;
  left:590px;
  top:136px;
  width:178px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12308 {
  position:absolute;
  left:790px;
  top:136px;
  width:178px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12309 {
  position:absolute;
  left:990px;
  top:136px;
  width:178px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12310 {
  position:absolute;
  left:391px;
  top:251px;
  width:178px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12311 {
  position:absolute;
  left:590px;
  top:251px;
  width:178px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12312 {
  position:absolute;
  left:790px;
  top:251px;
  width:178px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12313 {
  position:absolute;
  left:1408px;
  top:248px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12314 {
  position:absolute;
  left:1408px;
  top:285px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12315 {
  position:absolute;
  left:1408px;
  top:323px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12316 {
  position:absolute;
  left:1408px;
  top:362px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12317 {
  position:absolute;
  left:1408px;
  top:400px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12318 {
  position:absolute;
  left:1229px;
  top:136px;
  width:302px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12319 {
  position:absolute;
  left:1408px;
  top:437px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12320 {
  position:absolute;
  left:1408px;
  top:475px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12321 {
  position:absolute;
  left:1408px;
  top:513px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12322 {
  position:absolute;
  left:1408px;
  top:552px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12323 {
  position:absolute;
  left:1408px;
  top:726px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12324 {
  position:absolute;
  left:1408px;
  top:763px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12325 {
  position:absolute;
  left:1408px;
  top:801px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12326 {
  position:absolute;
  left:1408px;
  top:840px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12327 {
  position:absolute;
  left:1408px;
  top:878px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12328 {
  position:absolute;
  left:1408px;
  top:915px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12329 {
  position:absolute;
  left:1408px;
  top:953px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12330 {
  position:absolute;
  left:1408px;
  top:991px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12331 {
  position:absolute;
  left:1408px;
  top:1030px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12332 {
  position:absolute;
  left:1494px;
  top:71px;
  width:44px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12333 {
  position:absolute;
  left:366px;
  top:385px;
}
#u12333_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12333_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:899px;
}
#u12334 {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:899px;
}
#u12335 {
  position:absolute;
  left:2px;
  top:442px;
  width:824px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12333_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u12333_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:899px;
}
#u12336 {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:899px;
}
#u12337 {
  position:absolute;
  left:2px;
  top:442px;
  width:824px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12338 {
  position:absolute;
  left:806px;
  top:583px;
  width:105px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12339 {
  position:absolute;
  left:928px;
  top:583px;
  width:105px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12340 {
  position:absolute;
  left:737px;
  top:925px;
  width:202px;
  height:210px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
