body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1028px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1018px;
  height:194px;
}
#u8461 {
  position:absolute;
  left:10px;
  top:60px;
  width:1018px;
  height:194px;
}
#u8462 {
  position:absolute;
  left:2px;
  top:89px;
  width:1014px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8463 {
  position:absolute;
  left:690px;
  top:54px;
  width:110px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8464 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u8465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8465 {
  position:absolute;
  left:15px;
  top:10px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8466 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8467_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:213px;
  height:5px;
}
#u8467 {
  position:absolute;
  left:10px;
  top:34px;
  width:210px;
  height:2px;
}
#u8468 {
  position:absolute;
  left:2px;
  top:-7px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8469_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:28px;
}
#u8469 {
  position:absolute;
  left:117px;
  top:10px;
  width:2px;
  height:25px;
}
#u8470 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8471 {
  position:absolute;
  left:135px;
  top:10px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8472 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8473_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:112px;
  height:5px;
}
#u8473 {
  position:absolute;
  left:119px;
  top:34px;
  width:109px;
  height:2px;
}
#u8474 {
  position:absolute;
  left:2px;
  top:-7px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8475 {
  position:absolute;
  left:410px;
  top:290px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8476 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8477 {
  position:absolute;
  left:25px;
  top:264px;
  width:70px;
  height:20px;
}
#u8478 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u8479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8479 {
  position:absolute;
  left:15px;
  top:264px;
  width:20px;
  height:20px;
}
#u8480 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:4px;
}
#u8481 {
  position:absolute;
  left:105px;
  top:270px;
  width:20px;
  height:4px;
}
#u8482 {
  position:absolute;
  left:2px;
  top:-6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8483 {
  position:absolute;
  left:115px;
  top:264px;
  width:70px;
  height:20px;
}
#u8484 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
