body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10502 {
  position:absolute;
  left:170px;
  top:120px;
  width:100px;
  height:60px;
}
#u10503 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:60px;
}
#u10504 {
  position:absolute;
  left:10px;
  top:120px;
  width:110px;
  height:60px;
}
#u10505 {
  position:absolute;
  left:2px;
  top:22px;
  width:106px;
  word-wrap:break-word;
}
#u10506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10506 {
  position:absolute;
  left:320px;
  top:120px;
  width:100px;
  height:60px;
}
#u10507 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10508 {
  position:absolute;
  left:120px;
  top:150px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u10508_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u10508_seg1 {
  position:absolute;
  left:37px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10509 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u10510 {
  position:absolute;
  left:270px;
  top:150px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u10510_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u10510_seg1 {
  position:absolute;
  left:37px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10511 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10512 {
  position:absolute;
  left:460px;
  top:120px;
  width:100px;
  height:60px;
}
#u10513 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u10514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10514 {
  position:absolute;
  left:610px;
  top:120px;
  width:100px;
  height:60px;
}
#u10515 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:60px;
}
#u10516 {
  position:absolute;
  left:750px;
  top:120px;
  width:110px;
  height:60px;
}
#u10517 {
  position:absolute;
  left:2px;
  top:22px;
  width:106px;
  word-wrap:break-word;
}
#u10518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10518 {
  position:absolute;
  left:890px;
  top:120px;
  width:100px;
  height:60px;
}
#u10519 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10520 {
  position:absolute;
  left:1030px;
  top:120px;
  width:100px;
  height:60px;
}
#u10521 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10522 {
  position:absolute;
  left:1170px;
  top:120px;
  width:100px;
  height:60px;
}
#u10523 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10524 {
  position:absolute;
  left:1310px;
  top:120px;
  width:100px;
  height:60px;
}
#u10525 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10526 {
  position:absolute;
  left:65px;
  top:120px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u10526_seg0 {
  position:absolute;
  left:-4px;
  top:-34px;
  width:8px;
  height:34px;
}
#u10526_seg1 {
  position:absolute;
  left:-4px;
  top:-34px;
  width:453px;
  height:8px;
}
#u10526_seg2 {
  position:absolute;
  left:441px;
  top:-34px;
  width:8px;
  height:34px;
}
#u10526_seg3 {
  position:absolute;
  left:435px;
  top:-13px;
  width:20px;
  height:20px;
}
#u10527 {
  position:absolute;
  left:172px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
}
#u10528 {
  position:absolute;
  left:420px;
  top:150px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u10528_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u10528_seg1 {
  position:absolute;
  left:27px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10529 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10530 {
  position:absolute;
  left:560px;
  top:150px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u10530_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u10530_seg1 {
  position:absolute;
  left:37px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10531 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10532 {
  position:absolute;
  left:710px;
  top:150px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u10532_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u10532_seg1 {
  position:absolute;
  left:27px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10533 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10534 {
  position:absolute;
  left:860px;
  top:150px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u10534_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u10534_seg1 {
  position:absolute;
  left:17px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10535 {
  position:absolute;
  left:-35px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u10536 {
  position:absolute;
  left:805px;
  top:180px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u10536_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u10536_seg1 {
  position:absolute;
  left:-299px;
  top:16px;
  width:303px;
  height:8px;
}
#u10536_seg2 {
  position:absolute;
  left:-299px;
  top:0px;
  width:8px;
  height:24px;
}
#u10536_seg3 {
  position:absolute;
  left:-305px;
  top:-7px;
  width:20px;
  height:20px;
}
#u10537 {
  position:absolute;
  left:-198px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u10538 {
  position:absolute;
  left:990px;
  top:150px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u10538_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u10538_seg1 {
  position:absolute;
  left:27px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10539 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10540 {
  position:absolute;
  left:1130px;
  top:150px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u10540_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u10540_seg1 {
  position:absolute;
  left:27px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10541 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10542 {
  position:absolute;
  left:1270px;
  top:150px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u10542_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u10542_seg1 {
  position:absolute;
  left:27px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10543 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
