body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1182px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u20030 {
  position:absolute;
  left:134px;
  top:302px;
  width:1021px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u20031 {
  position:absolute;
  left:2px;
  top:7px;
  width:1017px;
  word-wrap:break-word;
}
#u20032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u20032 {
  position:absolute;
  left:140px;
  top:302px;
  width:32px;
  height:32px;
}
#u20033 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20034 {
  position:absolute;
  left:512px;
  top:113px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20035 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u20036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u20036 {
  position:absolute;
  left:480px;
  top:160px;
  width:265px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u20037 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u20038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20038 {
  position:absolute;
  left:0px;
  top:25px;
  width:1155px;
  height:45px;
}
#u20039 {
  position:absolute;
  left:2px;
  top:14px;
  width:1151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:1300px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(41, 48, 55, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20040 {
  position:absolute;
  left:0px;
  top:70px;
  width:120px;
  height:1300px;
}
#u20041 {
  position:absolute;
  left:2px;
  top:642px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20042 {
  position:absolute;
  left:30px;
  top:39px;
  width:200px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20043 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u20044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u20044 {
  position:absolute;
  left:1008px;
  top:37px;
  width:20px;
  height:22px;
}
#u20045 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u20046 {
  position:absolute;
  left:1033px;
  top:43px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u20047 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u20048 {
  position:absolute;
  left:1109px;
  top:43px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u20049 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u20050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u20050 {
  position:absolute;
  left:1094px;
  top:38px;
  width:15px;
  height:17px;
  color:#FFFFFF;
}
#u20051 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20052_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1036px;
  height:5px;
}
#u20052 {
  position:absolute;
  left:122px;
  top:90px;
  width:1033px;
  height:2px;
}
#u20053 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1029px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u20054 {
  position:absolute;
  left:992px;
  top:70px;
  width:25px;
  height:22px;
}
#u20055 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u20056 {
  position:absolute;
  left:1017px;
  top:70px;
  width:43px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u20057 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u20058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u20058 {
  position:absolute;
  left:1100px;
  top:70px;
  width:43px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u20059 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u20060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u20060 {
  position:absolute;
  left:1081px;
  top:70px;
  width:19px;
  height:21px;
}
#u20061 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u20062 {
  position:absolute;
  left:14px;
  top:80px;
  width:26px;
  height:22px;
}
#u20063 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20064 {
  position:absolute;
  left:45px;
  top:80px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20065 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u20066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u20066 {
  position:absolute;
  left:-2px;
  top:298px;
  width:123px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u20067 {
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u20068 {
  position:absolute;
  left:1109px;
  top:302px;
  width:32px;
  height:32px;
}
#u20069 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u20070 {
  position:absolute;
  left:1087px;
  top:350px;
  width:32px;
  height:32px;
}
#u20071 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20072 {
  position:absolute;
  left:134px;
  top:348px;
  width:1050px;
  height:172px;
  overflow:hidden;
}
#u20072_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:172px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20072_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20073 {
  position:absolute;
  left:700px;
  top:10px;
  width:110px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20074 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u20075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20075 {
  position:absolute;
  left:840px;
  top:10px;
  width:120px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20076 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u20077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u20077 {
  position:absolute;
  left:450px;
  top:956px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u20078 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u20079 {
  position:absolute;
  left:11px;
  top:830px;
  width:130px;
  height:16px;
}
#u20080 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u20079_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20081 {
  position:absolute;
  left:151px;
  top:830px;
  width:130px;
  height:16px;
}
#u20082 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u20081_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u20083 {
  position:absolute;
  left:11px;
  top:866px;
  width:196px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u20084 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u20085 {
  position:absolute;
  left:11px;
  top:900px;
  width:100px;
  height:16px;
}
#u20086 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20085_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20085_ann {
  position:absolute;
  left:104px;
  top:896px;
  width:1px;
  height:1px;
}
#u20087 {
  position:absolute;
  left:141px;
  top:900px;
  width:100px;
  height:16px;
}
#u20088 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20087_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20087_ann {
  position:absolute;
  left:234px;
  top:896px;
  width:1px;
  height:1px;
}
#u20089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:100px;
}
#u20089 {
  position:absolute;
  left:0px;
  top:47px;
  width:1051px;
  height:100px;
}
#u20090 {
  position:absolute;
  left:2px;
  top:42px;
  width:1047px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20091 {
  position:absolute;
  left:134px;
  top:270px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20092 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u20093_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:553px;
  height:6px;
}
#u20093 {
  position:absolute;
  left:260px;
  top:207px;
  width:550px;
  height:3px;
}
#u20094 {
  position:absolute;
  left:2px;
  top:-6px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20095_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u20095 {
  position:absolute;
  left:260px;
  top:197px;
  width:22px;
  height:23px;
}
#u20096 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u20097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u20097 {
  position:absolute;
  left:245px;
  top:230px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u20098 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20099_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u20099 {
  position:absolute;
  left:810px;
  top:197px;
  width:22px;
  height:23px;
}
#u20100 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u20101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u20101 {
  position:absolute;
  left:810px;
  top:230px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u20102 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20103_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u20103 {
  position:absolute;
  left:540px;
  top:197px;
  width:22px;
  height:23px;
}
#u20104 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u20105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u20105 {
  position:absolute;
  left:540px;
  top:230px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u20106 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20107 {
  position:absolute;
  left:45px;
  top:80px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20108 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u20109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u20110 {
  position:absolute;
  left:14px;
  top:112px;
  width:25px;
  height:22px;
  color:#FFFFFF;
}
#u20111 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20112 {
  position:absolute;
  left:44px;
  top:112px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20113 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u20114 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u20115 {
  position:absolute;
  left:14px;
  top:144px;
  width:25px;
  height:22px;
  color:#FFFFFF;
}
#u20116 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20117 {
  position:absolute;
  left:44px;
  top:144px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20118 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u20119 {
  position:absolute;
  left:5px;
  top:176px;
  width:72px;
  height:85px;
}
#u20119_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20120 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  color:#FFFFFF;
}
#u20121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20121 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u20122 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u20123 {
  position:absolute;
  left:0px;
  top:20px;
  width:67px;
  height:20px;
  color:#FFFFFF;
}
#u20124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20124 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u20125 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u20126 {
  position:absolute;
  left:0px;
  top:40px;
  width:67px;
  height:20px;
  color:#FFFFFF;
}
#u20127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20127 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u20128 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u20129 {
  position:absolute;
  left:0px;
  top:60px;
  width:67px;
  height:20px;
  color:#FFFFFF;
}
#u20130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20130 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u20131 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u20132 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u20133 {
  position:absolute;
  left:8px;
  top:266px;
  width:25px;
  height:22px;
  color:#FFFFFF;
}
#u20134 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20135 {
  position:absolute;
  left:38px;
  top:266px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20136 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u20137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u20138 {
  position:absolute;
  left:5px;
  top:298px;
  width:25px;
  height:22px;
  color:#FFFFFF;
}
#u20139 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20140 {
  position:absolute;
  left:35px;
  top:298px;
  width:86px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20141 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u20142 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u20143 {
  position:absolute;
  left:5px;
  top:330px;
  width:25px;
  height:22px;
  color:#FFFFFF;
}
#u20144 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20145 {
  position:absolute;
  left:35px;
  top:330px;
  width:86px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20146 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u20147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u20147 {
  position:absolute;
  left:134px;
  top:530px;
  width:1026px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u20148 {
  position:absolute;
  left:2px;
  top:7px;
  width:1022px;
  word-wrap:break-word;
}
#u20149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u20149 {
  position:absolute;
  left:140px;
  top:530px;
  width:32px;
  height:32px;
}
#u20150 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20151 {
  position:absolute;
  left:134px;
  top:572px;
  width:1026px;
  height:528px;
  overflow:hidden;
}
#u20151_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:528px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20151_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20152 {
  position:absolute;
  left:10px;
  top:40px;
  width:1004px;
  height:65px;
}
#u20153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u20153 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u20154 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u20155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u20155 {
  position:absolute;
  left:78px;
  top:0px;
  width:86px;
  height:30px;
}
#u20156 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u20157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u20157 {
  position:absolute;
  left:164px;
  top:0px;
  width:90px;
  height:30px;
}
#u20158 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u20159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u20159 {
  position:absolute;
  left:254px;
  top:0px;
  width:111px;
  height:30px;
}
#u20160 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u20161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u20161 {
  position:absolute;
  left:365px;
  top:0px;
  width:113px;
  height:30px;
}
#u20162 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u20163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u20163 {
  position:absolute;
  left:478px;
  top:0px;
  width:96px;
  height:30px;
}
#u20164 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u20165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u20165 {
  position:absolute;
  left:574px;
  top:0px;
  width:96px;
  height:30px;
}
#u20166 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u20167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u20167 {
  position:absolute;
  left:670px;
  top:0px;
  width:75px;
  height:30px;
}
#u20168 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u20169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u20169 {
  position:absolute;
  left:745px;
  top:0px;
  width:88px;
  height:30px;
}
#u20170 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u20171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u20171 {
  position:absolute;
  left:833px;
  top:0px;
  width:82px;
  height:30px;
}
#u20172 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u20173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u20173 {
  position:absolute;
  left:915px;
  top:0px;
  width:84px;
  height:30px;
}
#u20174 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u20175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u20175 {
  position:absolute;
  left:0px;
  top:30px;
  width:78px;
  height:30px;
}
#u20176 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u20177 {
  position:absolute;
  left:78px;
  top:30px;
  width:86px;
  height:30px;
}
#u20178 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u20179 {
  position:absolute;
  left:164px;
  top:30px;
  width:90px;
  height:30px;
}
#u20180 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u20181 {
  position:absolute;
  left:254px;
  top:30px;
  width:111px;
  height:30px;
}
#u20182 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u20183 {
  position:absolute;
  left:365px;
  top:30px;
  width:113px;
  height:30px;
}
#u20184 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u20185 {
  position:absolute;
  left:478px;
  top:30px;
  width:96px;
  height:30px;
}
#u20186 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u20187 {
  position:absolute;
  left:574px;
  top:30px;
  width:96px;
  height:30px;
}
#u20188 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u20189 {
  position:absolute;
  left:670px;
  top:30px;
  width:75px;
  height:30px;
}
#u20190 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u20191 {
  position:absolute;
  left:745px;
  top:30px;
  width:88px;
  height:30px;
}
#u20192 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u20193 {
  position:absolute;
  left:833px;
  top:30px;
  width:82px;
  height:30px;
}
#u20194 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u20195 {
  position:absolute;
  left:915px;
  top:30px;
  width:84px;
  height:30px;
}
#u20196 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20197 {
  position:absolute;
  left:17px;
  top:8px;
  width:153px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20198 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u20199 {
  position:absolute;
  left:40px;
  top:74px;
  width:20px;
  height:16px;
}
#u20200 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20199_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20201 {
  position:absolute;
  left:120px;
  top:74px;
  width:20px;
  height:16px;
}
#u20202 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20201_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20203 {
  position:absolute;
  left:210px;
  top:74px;
  width:20px;
  height:16px;
}
#u20204 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20203_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20205 {
  position:absolute;
  left:310px;
  top:74px;
  width:20px;
  height:16px;
}
#u20206 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20205_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20207 {
  position:absolute;
  left:430px;
  top:74px;
  width:20px;
  height:16px;
}
#u20208 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20207_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20209 {
  position:absolute;
  left:530px;
  top:74px;
  width:20px;
  height:16px;
}
#u20210 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20209_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20211 {
  position:absolute;
  left:630px;
  top:74px;
  width:20px;
  height:16px;
}
#u20212 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20211_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20213 {
  position:absolute;
  left:710px;
  top:74px;
  width:20px;
  height:16px;
}
#u20214 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20213_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20215 {
  position:absolute;
  left:790px;
  top:74px;
  width:20px;
  height:16px;
}
#u20216 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20215_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20217 {
  position:absolute;
  left:880px;
  top:74px;
  width:20px;
  height:16px;
}
#u20218 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20217_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20219 {
  position:absolute;
  left:960px;
  top:74px;
  width:20px;
  height:16px;
}
#u20220 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20219_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20221 {
  position:absolute;
  left:17px;
  top:120px;
  width:203px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20222 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u20223 {
  position:absolute;
  left:240px;
  top:123px;
  width:100px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u20224 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20223_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20225 {
  position:absolute;
  left:440px;
  top:123px;
  width:100px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u20226 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20225_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:292px;
}
#u20227 {
  position:absolute;
  left:10px;
  top:198px;
  width:839px;
  height:292px;
}
#u20228 {
  position:absolute;
  left:2px;
  top:138px;
  width:835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20229 {
  position:absolute;
  left:20px;
  top:500px;
  width:70px;
  height:20px;
}
#u20230 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u20231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20231 {
  position:absolute;
  left:10px;
  top:500px;
  width:20px;
  height:20px;
}
#u20232 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20233 {
  position:absolute;
  left:130px;
  top:500px;
  width:70px;
  height:20px;
}
#u20234 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u20235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:4px;
}
#u20235 {
  position:absolute;
  left:108px;
  top:510px;
  width:20px;
  height:4px;
}
#u20236 {
  position:absolute;
  left:2px;
  top:-6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20237 {
  position:absolute;
  left:590px;
  top:161px;
  width:110px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20238 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u20239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20239 {
  position:absolute;
  left:730px;
  top:161px;
  width:120px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20240 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u20241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u20241 {
  position:absolute;
  left:1109px;
  top:530px;
  width:32px;
  height:32px;
}
#u20242 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u20243 {
  position:absolute;
  left:134px;
  top:1110px;
  width:1026px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u20244 {
  position:absolute;
  left:2px;
  top:7px;
  width:1022px;
  word-wrap:break-word;
}
#u20245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u20245 {
  position:absolute;
  left:140px;
  top:1110px;
  width:32px;
  height:32px;
}
#u20246 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20247 {
  position:absolute;
  left:134px;
  top:1152px;
  width:1021px;
  height:168px;
  overflow:hidden;
}
#u20247_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:168px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20247_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20248 {
  position:absolute;
  left:10px;
  top:10px;
  width:100px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20249 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u20250 {
  position:absolute;
  left:130px;
  top:13px;
  width:100px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u20251 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20250_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20252 {
  position:absolute;
  left:280px;
  top:13px;
  width:100px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u20253 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20252_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:91px;
}
#u20254 {
  position:absolute;
  left:10px;
  top:49px;
  width:907px;
  height:91px;
}
#u20255 {
  position:absolute;
  left:2px;
  top:38px;
  width:903px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u20256 {
  position:absolute;
  left:421px;
  top:1330px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u20257 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u20258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u20258 {
  position:absolute;
  left:594px;
  top:1330px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u20259 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
