body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u705 {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:107px;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u707 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u708 {
  position:absolute;
  left:87px;
  top:0px;
  width:113px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u709 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u710 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u711 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u712 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u713 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u714 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u715 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u716 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u717 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u718 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u719 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u720 {
  position:absolute;
  left:0px;
  top:30px;
  width:87px;
  height:36px;
  font-size:12px;
}
#u721 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u722 {
  position:absolute;
  left:87px;
  top:30px;
  width:113px;
  height:36px;
}
#u723 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u724 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:36px;
}
#u725 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u726 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:36px;
}
#u727 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u728 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:36px;
}
#u729 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u730 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:36px;
}
#u731 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u732 {
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:36px;
}
#u733 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u734 {
  position:absolute;
  left:0px;
  top:66px;
  width:87px;
  height:36px;
  font-size:12px;
}
#u735 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u736 {
  position:absolute;
  left:87px;
  top:66px;
  width:113px;
  height:36px;
}
#u737 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u738 {
  position:absolute;
  left:200px;
  top:66px;
  width:100px;
  height:36px;
}
#u739 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u740 {
  position:absolute;
  left:300px;
  top:66px;
  width:100px;
  height:36px;
}
#u741 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u742 {
  position:absolute;
  left:400px;
  top:66px;
  width:100px;
  height:36px;
}
#u743 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u744 {
  position:absolute;
  left:500px;
  top:66px;
  width:100px;
  height:36px;
}
#u745 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u746 {
  position:absolute;
  left:600px;
  top:66px;
  width:100px;
  height:36px;
}
#u747 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
