body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1659px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:2px;
}
#u13759 {
  position:absolute;
  left:20px;
  top:49px;
  width:1078px;
  height:1px;
}
#u13760 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13761 {
  position:absolute;
  left:1643px;
  top:21px;
  width:16px;
  height:16px;
}
#u13762 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
}
#u13763 {
  position:absolute;
  left:28px;
  top:10px;
  width:70px;
  height:23px;
}
#u13764 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1222px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13765 {
  position:absolute;
  left:8px;
  top:12px;
  width:1222px;
  height:45px;
}
#u13766 {
  position:absolute;
  left:2px;
  top:14px;
  width:1218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:673px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(41, 48, 55, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13767 {
  position:absolute;
  left:8px;
  top:57px;
  width:122px;
  height:673px;
}
#u13768 {
  position:absolute;
  left:2px;
  top:328px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u13769 {
  position:absolute;
  left:8px;
  top:99px;
  width:122px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u13770 {
  position:absolute;
  left:2px;
  top:13px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13771 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13772 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13773 {
  position:absolute;
  left:51px;
  top:109px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13774 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u13775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13775 {
  position:absolute;
  left:21px;
  top:110px;
  width:20px;
  height:20px;
}
#u13776 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13777 {
  position:absolute;
  left:38px;
  top:26px;
  width:200px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13778 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u13779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u13779 {
  position:absolute;
  left:1084px;
  top:28px;
  width:20px;
  height:22px;
}
#u13780 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13781 {
  position:absolute;
  left:1109px;
  top:34px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u13782 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13783 {
  position:absolute;
  left:1185px;
  top:34px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u13784 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u13785 {
  position:absolute;
  left:1170px;
  top:29px;
  width:15px;
  height:17px;
  color:#FFFFFF;
}
#u13786 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u13787 {
  position:absolute;
  left:22px;
  top:67px;
  width:26px;
  height:22px;
}
#u13788 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13789 {
  position:absolute;
  left:53px;
  top:67px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13790 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u13791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:673px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u13791 {
  position:absolute;
  left:130px;
  top:57px;
  width:1100px;
  height:673px;
  font-size:14px;
}
#u13792 {
  position:absolute;
  left:2px;
  top:328px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13793 {
  position:absolute;
  left:140px;
  top:109px;
  width:990px;
  height:35px;
}
#u13794 {
  position:absolute;
  left:2px;
  top:10px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:2px;
}
#u13795 {
  position:absolute;
  left:130px;
  top:95px;
  width:1100px;
  height:1px;
}
#u13796 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u13797 {
  position:absolute;
  left:151px;
  top:67px;
  width:37px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u13798 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u13799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13799 {
  position:absolute;
  left:140px;
  top:109px;
  width:1080px;
  height:35px;
}
#u13800 {
  position:absolute;
  left:2px;
  top:10px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u13801 {
  position:absolute;
  left:151px;
  top:119px;
  width:61px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u13802 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u13803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u13803 {
  position:absolute;
  left:216px;
  top:119px;
  width:75px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u13804 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u13805 {
  position:absolute;
  left:140px;
  top:163px;
  width:1085px;
  height:429px;
}
#u13806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:68px;
}
#u13806 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:68px;
}
#u13807 {
  position:absolute;
  left:2px;
  top:26px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:68px;
}
#u13808 {
  position:absolute;
  left:41px;
  top:0px;
  width:69px;
  height:68px;
}
#u13809 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  word-wrap:break-word;
}
#u13810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:68px;
}
#u13810 {
  position:absolute;
  left:110px;
  top:0px;
  width:85px;
  height:68px;
}
#u13811 {
  position:absolute;
  left:2px;
  top:26px;
  width:81px;
  word-wrap:break-word;
}
#u13812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:68px;
}
#u13812 {
  position:absolute;
  left:195px;
  top:0px;
  width:112px;
  height:68px;
}
#u13813 {
  position:absolute;
  left:2px;
  top:26px;
  width:108px;
  word-wrap:break-word;
}
#u13814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:68px;
}
#u13814 {
  position:absolute;
  left:307px;
  top:0px;
  width:41px;
  height:68px;
}
#u13815 {
  position:absolute;
  left:2px;
  top:18px;
  width:37px;
  word-wrap:break-word;
}
#u13816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u13816 {
  position:absolute;
  left:348px;
  top:0px;
  width:75px;
  height:68px;
}
#u13817 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  word-wrap:break-word;
}
#u13818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:68px;
}
#u13818 {
  position:absolute;
  left:423px;
  top:0px;
  width:101px;
  height:68px;
}
#u13819 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u13820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u13820 {
  position:absolute;
  left:524px;
  top:0px;
  width:68px;
  height:68px;
}
#u13821 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u13822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:68px;
}
#u13822 {
  position:absolute;
  left:592px;
  top:0px;
  width:64px;
  height:68px;
}
#u13823 {
  position:absolute;
  left:2px;
  top:26px;
  width:60px;
  word-wrap:break-word;
}
#u13824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:68px;
}
#u13824 {
  position:absolute;
  left:656px;
  top:0px;
  width:228px;
  height:68px;
}
#u13825 {
  position:absolute;
  left:2px;
  top:26px;
  width:224px;
  word-wrap:break-word;
}
#u13826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:68px;
}
#u13826 {
  position:absolute;
  left:884px;
  top:0px;
  width:72px;
  height:68px;
}
#u13827 {
  position:absolute;
  left:2px;
  top:26px;
  width:68px;
  word-wrap:break-word;
}
#u13828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:68px;
}
#u13828 {
  position:absolute;
  left:956px;
  top:0px;
  width:124px;
  height:68px;
}
#u13829 {
  position:absolute;
  left:2px;
  top:26px;
  width:120px;
  word-wrap:break-word;
}
#u13830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:84px;
}
#u13830 {
  position:absolute;
  left:0px;
  top:68px;
  width:41px;
  height:84px;
}
#u13831 {
  position:absolute;
  left:2px;
  top:34px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:84px;
}
#u13832 {
  position:absolute;
  left:41px;
  top:68px;
  width:69px;
  height:84px;
}
#u13833 {
  position:absolute;
  left:2px;
  top:34px;
  width:65px;
  word-wrap:break-word;
}
#u13834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:84px;
}
#u13834 {
  position:absolute;
  left:110px;
  top:68px;
  width:85px;
  height:84px;
}
#u13835 {
  position:absolute;
  left:2px;
  top:34px;
  width:81px;
  word-wrap:break-word;
}
#u13836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:84px;
}
#u13836 {
  position:absolute;
  left:195px;
  top:68px;
  width:112px;
  height:84px;
}
#u13837 {
  position:absolute;
  left:2px;
  top:18px;
  width:108px;
  word-wrap:break-word;
}
#u13838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:84px;
}
#u13838 {
  position:absolute;
  left:307px;
  top:68px;
  width:41px;
  height:84px;
}
#u13839 {
  position:absolute;
  left:2px;
  top:34px;
  width:37px;
  word-wrap:break-word;
}
#u13840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:84px;
}
#u13840 {
  position:absolute;
  left:348px;
  top:68px;
  width:75px;
  height:84px;
}
#u13841 {
  position:absolute;
  left:2px;
  top:34px;
  width:71px;
  word-wrap:break-word;
}
#u13842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:84px;
}
#u13842 {
  position:absolute;
  left:423px;
  top:68px;
  width:101px;
  height:84px;
}
#u13843 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u13844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:84px;
}
#u13844 {
  position:absolute;
  left:524px;
  top:68px;
  width:68px;
  height:84px;
}
#u13845 {
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  word-wrap:break-word;
}
#u13846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:84px;
}
#u13846 {
  position:absolute;
  left:592px;
  top:68px;
  width:64px;
  height:84px;
}
#u13847 {
  position:absolute;
  left:2px;
  top:26px;
  width:60px;
  word-wrap:break-word;
}
#u13848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:84px;
}
#u13848 {
  position:absolute;
  left:656px;
  top:68px;
  width:228px;
  height:84px;
}
#u13849 {
  position:absolute;
  left:2px;
  top:34px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:84px;
}
#u13850 {
  position:absolute;
  left:884px;
  top:68px;
  width:72px;
  height:84px;
}
#u13851 {
  position:absolute;
  left:2px;
  top:34px;
  width:68px;
  word-wrap:break-word;
}
#u13852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:84px;
}
#u13852 {
  position:absolute;
  left:956px;
  top:68px;
  width:124px;
  height:84px;
}
#u13853 {
  position:absolute;
  left:2px;
  top:34px;
  width:120px;
  word-wrap:break-word;
}
#u13854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:68px;
}
#u13854 {
  position:absolute;
  left:0px;
  top:152px;
  width:41px;
  height:68px;
}
#u13855 {
  position:absolute;
  left:2px;
  top:26px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:68px;
}
#u13856 {
  position:absolute;
  left:41px;
  top:152px;
  width:69px;
  height:68px;
}
#u13857 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  word-wrap:break-word;
}
#u13858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:68px;
}
#u13858 {
  position:absolute;
  left:110px;
  top:152px;
  width:85px;
  height:68px;
}
#u13859 {
  position:absolute;
  left:2px;
  top:26px;
  width:81px;
  word-wrap:break-word;
}
#u13860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:68px;
}
#u13860 {
  position:absolute;
  left:195px;
  top:152px;
  width:112px;
  height:68px;
}
#u13861 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u13862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:68px;
}
#u13862 {
  position:absolute;
  left:307px;
  top:152px;
  width:41px;
  height:68px;
}
#u13863 {
  position:absolute;
  left:2px;
  top:26px;
  width:37px;
  word-wrap:break-word;
}
#u13864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u13864 {
  position:absolute;
  left:348px;
  top:152px;
  width:75px;
  height:68px;
}
#u13865 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  word-wrap:break-word;
}
#u13866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:68px;
}
#u13866 {
  position:absolute;
  left:423px;
  top:152px;
  width:101px;
  height:68px;
}
#u13867 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u13868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u13868 {
  position:absolute;
  left:524px;
  top:152px;
  width:68px;
  height:68px;
}
#u13869 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u13870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:68px;
}
#u13870 {
  position:absolute;
  left:592px;
  top:152px;
  width:64px;
  height:68px;
}
#u13871 {
  position:absolute;
  left:2px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u13872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:68px;
}
#u13872 {
  position:absolute;
  left:656px;
  top:152px;
  width:228px;
  height:68px;
}
#u13873 {
  position:absolute;
  left:2px;
  top:26px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:68px;
}
#u13874 {
  position:absolute;
  left:884px;
  top:152px;
  width:72px;
  height:68px;
}
#u13875 {
  position:absolute;
  left:2px;
  top:26px;
  width:68px;
  word-wrap:break-word;
}
#u13876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:68px;
}
#u13876 {
  position:absolute;
  left:956px;
  top:152px;
  width:124px;
  height:68px;
}
#u13877 {
  position:absolute;
  left:2px;
  top:26px;
  width:120px;
  word-wrap:break-word;
}
#u13878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:68px;
}
#u13878 {
  position:absolute;
  left:0px;
  top:220px;
  width:41px;
  height:68px;
}
#u13879 {
  position:absolute;
  left:2px;
  top:26px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:68px;
}
#u13880 {
  position:absolute;
  left:41px;
  top:220px;
  width:69px;
  height:68px;
}
#u13881 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  word-wrap:break-word;
}
#u13882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:68px;
}
#u13882 {
  position:absolute;
  left:110px;
  top:220px;
  width:85px;
  height:68px;
}
#u13883 {
  position:absolute;
  left:2px;
  top:26px;
  width:81px;
  word-wrap:break-word;
}
#u13884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:68px;
}
#u13884 {
  position:absolute;
  left:195px;
  top:220px;
  width:112px;
  height:68px;
}
#u13885 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u13886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:68px;
}
#u13886 {
  position:absolute;
  left:307px;
  top:220px;
  width:41px;
  height:68px;
}
#u13887 {
  position:absolute;
  left:2px;
  top:26px;
  width:37px;
  word-wrap:break-word;
}
#u13888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u13888 {
  position:absolute;
  left:348px;
  top:220px;
  width:75px;
  height:68px;
}
#u13889 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  word-wrap:break-word;
}
#u13890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:68px;
}
#u13890 {
  position:absolute;
  left:423px;
  top:220px;
  width:101px;
  height:68px;
}
#u13891 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u13892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u13892 {
  position:absolute;
  left:524px;
  top:220px;
  width:68px;
  height:68px;
}
#u13893 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u13894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:68px;
}
#u13894 {
  position:absolute;
  left:592px;
  top:220px;
  width:64px;
  height:68px;
}
#u13895 {
  position:absolute;
  left:2px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u13896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:68px;
}
#u13896 {
  position:absolute;
  left:656px;
  top:220px;
  width:228px;
  height:68px;
}
#u13897 {
  position:absolute;
  left:2px;
  top:26px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:68px;
}
#u13898 {
  position:absolute;
  left:884px;
  top:220px;
  width:72px;
  height:68px;
}
#u13899 {
  position:absolute;
  left:2px;
  top:26px;
  width:68px;
  word-wrap:break-word;
}
#u13900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:68px;
}
#u13900 {
  position:absolute;
  left:956px;
  top:220px;
  width:124px;
  height:68px;
}
#u13901 {
  position:absolute;
  left:2px;
  top:26px;
  width:120px;
  word-wrap:break-word;
}
#u13902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:68px;
}
#u13902 {
  position:absolute;
  left:0px;
  top:288px;
  width:41px;
  height:68px;
}
#u13903 {
  position:absolute;
  left:2px;
  top:26px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:68px;
}
#u13904 {
  position:absolute;
  left:41px;
  top:288px;
  width:69px;
  height:68px;
}
#u13905 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  word-wrap:break-word;
}
#u13906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:68px;
}
#u13906 {
  position:absolute;
  left:110px;
  top:288px;
  width:85px;
  height:68px;
}
#u13907 {
  position:absolute;
  left:2px;
  top:26px;
  width:81px;
  word-wrap:break-word;
}
#u13908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:68px;
}
#u13908 {
  position:absolute;
  left:195px;
  top:288px;
  width:112px;
  height:68px;
}
#u13909 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u13910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:68px;
}
#u13910 {
  position:absolute;
  left:307px;
  top:288px;
  width:41px;
  height:68px;
}
#u13911 {
  position:absolute;
  left:2px;
  top:26px;
  width:37px;
  word-wrap:break-word;
}
#u13912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u13912 {
  position:absolute;
  left:348px;
  top:288px;
  width:75px;
  height:68px;
}
#u13913 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  word-wrap:break-word;
}
#u13914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:68px;
}
#u13914 {
  position:absolute;
  left:423px;
  top:288px;
  width:101px;
  height:68px;
}
#u13915 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u13916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u13916 {
  position:absolute;
  left:524px;
  top:288px;
  width:68px;
  height:68px;
}
#u13917 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u13918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:68px;
}
#u13918 {
  position:absolute;
  left:592px;
  top:288px;
  width:64px;
  height:68px;
}
#u13919 {
  position:absolute;
  left:2px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u13920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:68px;
}
#u13920 {
  position:absolute;
  left:656px;
  top:288px;
  width:228px;
  height:68px;
}
#u13921 {
  position:absolute;
  left:2px;
  top:26px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:68px;
}
#u13922 {
  position:absolute;
  left:884px;
  top:288px;
  width:72px;
  height:68px;
}
#u13923 {
  position:absolute;
  left:2px;
  top:26px;
  width:68px;
  word-wrap:break-word;
}
#u13924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:68px;
}
#u13924 {
  position:absolute;
  left:956px;
  top:288px;
  width:124px;
  height:68px;
}
#u13925 {
  position:absolute;
  left:2px;
  top:26px;
  width:120px;
  word-wrap:break-word;
}
#u13926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:68px;
}
#u13926 {
  position:absolute;
  left:0px;
  top:356px;
  width:41px;
  height:68px;
}
#u13927 {
  position:absolute;
  left:2px;
  top:26px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:68px;
}
#u13928 {
  position:absolute;
  left:41px;
  top:356px;
  width:69px;
  height:68px;
}
#u13929 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  word-wrap:break-word;
}
#u13930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:68px;
}
#u13930 {
  position:absolute;
  left:110px;
  top:356px;
  width:85px;
  height:68px;
}
#u13931 {
  position:absolute;
  left:2px;
  top:26px;
  width:81px;
  word-wrap:break-word;
}
#u13932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:68px;
}
#u13932 {
  position:absolute;
  left:195px;
  top:356px;
  width:112px;
  height:68px;
}
#u13933 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u13934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:68px;
}
#u13934 {
  position:absolute;
  left:307px;
  top:356px;
  width:41px;
  height:68px;
}
#u13935 {
  position:absolute;
  left:2px;
  top:26px;
  width:37px;
  word-wrap:break-word;
}
#u13936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u13936 {
  position:absolute;
  left:348px;
  top:356px;
  width:75px;
  height:68px;
}
#u13937 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  word-wrap:break-word;
}
#u13938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:68px;
}
#u13938 {
  position:absolute;
  left:423px;
  top:356px;
  width:101px;
  height:68px;
}
#u13939 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u13940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u13940 {
  position:absolute;
  left:524px;
  top:356px;
  width:68px;
  height:68px;
}
#u13941 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u13942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:68px;
}
#u13942 {
  position:absolute;
  left:592px;
  top:356px;
  width:64px;
  height:68px;
}
#u13943 {
  position:absolute;
  left:2px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u13944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:68px;
}
#u13944 {
  position:absolute;
  left:656px;
  top:356px;
  width:228px;
  height:68px;
}
#u13945 {
  position:absolute;
  left:2px;
  top:26px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:68px;
}
#u13946 {
  position:absolute;
  left:884px;
  top:356px;
  width:72px;
  height:68px;
}
#u13947 {
  position:absolute;
  left:2px;
  top:26px;
  width:68px;
  word-wrap:break-word;
}
#u13948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:68px;
}
#u13948 {
  position:absolute;
  left:956px;
  top:356px;
  width:124px;
  height:68px;
}
#u13949 {
  position:absolute;
  left:2px;
  top:26px;
  width:120px;
  word-wrap:break-word;
}
#u13950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u13950 {
  position:absolute;
  left:297px;
  top:119px;
  width:61px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u13951 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u13952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13952 {
  position:absolute;
  left:527px;
  top:630px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13953 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u13954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u13954 {
  position:absolute;
  left:700px;
  top:630px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u13955 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u13956 {
  position:absolute;
  left:151px;
  top:270px;
  width:19px;
  height:16px;
}
#u13957 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13956_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13958 {
  position:absolute;
  left:151px;
  top:340px;
  width:19px;
  height:16px;
}
#u13959 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13958_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13960 {
  position:absolute;
  left:151px;
  top:410px;
  width:19px;
  height:16px;
}
#u13961 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13960_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13962 {
  position:absolute;
  left:151px;
  top:474px;
  width:19px;
  height:16px;
}
#u13963 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13962_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13964 {
  position:absolute;
  left:151px;
  top:544px;
  width:19px;
  height:16px;
}
#u13965 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13964_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13966 {
  position:absolute;
  left:803px;
  top:252px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13967 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u13968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13968 {
  position:absolute;
  left:885px;
  top:252px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13969 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u13970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13970 {
  position:absolute;
  left:965px;
  top:252px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13971 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u13972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13972 {
  position:absolute;
  left:803px;
  top:328px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13973 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u13974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13974 {
  position:absolute;
  left:885px;
  top:328px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13975 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u13976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13976 {
  position:absolute;
  left:965px;
  top:328px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13977 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u13978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13978 {
  position:absolute;
  left:804px;
  top:398px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13979 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u13980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13980 {
  position:absolute;
  left:886px;
  top:398px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13981 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u13982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13982 {
  position:absolute;
  left:966px;
  top:398px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13983 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u13984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13984 {
  position:absolute;
  left:805px;
  top:468px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13985 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u13986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13986 {
  position:absolute;
  left:887px;
  top:468px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13987 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u13988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13988 {
  position:absolute;
  left:967px;
  top:468px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13989 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u13990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13990 {
  position:absolute;
  left:806px;
  top:532px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13991 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u13992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13992 {
  position:absolute;
  left:888px;
  top:532px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13993 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u13994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13994 {
  position:absolute;
  left:968px;
  top:532px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13995 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u13996 {
  position:absolute;
  left:151px;
  top:194px;
  width:19px;
  height:16px;
}
#u13997 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13996_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
