body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:855px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u20816 {
  position:absolute;
  left:390px;
  top:1760px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u20817 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u20818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  height:487px;
}
#u20818 {
  position:absolute;
  left:40px;
  top:53px;
  width:816px;
  height:487px;
}
#u20819 {
  position:absolute;
  left:2px;
  top:236px;
  width:812px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:241px;
}
#u20820 {
  position:absolute;
  left:40px;
  top:540px;
  width:812px;
  height:241px;
}
#u20821 {
  position:absolute;
  left:2px;
  top:112px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:455px;
}
#u20822 {
  position:absolute;
  left:-1px;
  top:805px;
  width:853px;
  height:455px;
}
#u20823 {
  position:absolute;
  left:2px;
  top:220px;
  width:849px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:136px;
}
#u20824 {
  position:absolute;
  left:40px;
  top:1260px;
  width:812px;
  height:136px;
}
#u20825 {
  position:absolute;
  left:2px;
  top:60px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:158px;
}
#u20826 {
  position:absolute;
  left:40px;
  top:1560px;
  width:503px;
  height:158px;
}
#u20827 {
  position:absolute;
  left:2px;
  top:71px;
  width:499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20828 {
  position:absolute;
  left:280px;
  top:1610px;
  width:100px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20829 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u20830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:114px;
}
#u20830 {
  position:absolute;
  left:40px;
  top:1426px;
  width:655px;
  height:114px;
}
#u20831 {
  position:absolute;
  left:2px;
  top:49px;
  width:651px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20832 {
  position:absolute;
  left:190px;
  top:168px;
  width:230px;
  height:22px;
}
#u20832_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20832_input:disabled {
  color:grayText;
}
#u20833 {
  position:absolute;
  left:610px;
  top:168px;
  width:240px;
  height:22px;
}
#u20833_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20833_input:disabled {
  color:grayText;
}
