body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10915 {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:600px;
  overflow:hidden;
}
#u10915_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10915_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10916 {
  position:absolute;
  left:279px;
  top:550px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10917 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u10918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10918 {
  position:absolute;
  left:489px;
  top:550px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10919 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u10920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10920 {
  position:absolute;
  left:30px;
  top:180px;
  width:70px;
  height:20px;
}
#u10921 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u10922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10922 {
  position:absolute;
  left:20px;
  top:180px;
  width:20px;
  height:20px;
}
#u10923 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:4px;
}
#u10924 {
  position:absolute;
  left:110px;
  top:186px;
  width:20px;
  height:4px;
}
#u10925 {
  position:absolute;
  left:2px;
  top:-6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10926 {
  position:absolute;
  left:120px;
  top:180px;
  width:70px;
  height:20px;
}
#u10927 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u10928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:151px;
}
#u10928 {
  position:absolute;
  left:7px;
  top:10px;
  width:733px;
  height:151px;
}
#u10929 {
  position:absolute;
  left:2px;
  top:68px;
  width:729px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:293px;
}
#u10930 {
  position:absolute;
  left:0px;
  top:210px;
  width:907px;
  height:293px;
}
#u10931 {
  position:absolute;
  left:2px;
  top:138px;
  width:903px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10932 {
  position:absolute;
  left:20px;
  top:513px;
  width:70px;
  height:20px;
}
#u10933 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u10934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10934 {
  position:absolute;
  left:10px;
  top:513px;
  width:20px;
  height:20px;
}
#u10935 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:4px;
}
#u10936 {
  position:absolute;
  left:100px;
  top:519px;
  width:20px;
  height:4px;
}
#u10937 {
  position:absolute;
  left:2px;
  top:-6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10938 {
  position:absolute;
  left:110px;
  top:513px;
  width:70px;
  height:20px;
}
#u10939 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
