body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
}
#u2202 {
  position:absolute;
  left:28px;
  top:60px;
  width:70px;
  height:23px;
}
#u2203 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2204 {
  position:absolute;
  left:8px;
  top:62px;
  width:862px;
  height:45px;
}
#u2205 {
  position:absolute;
  left:2px;
  top:14px;
  width:858px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:340px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(41, 48, 55, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2206 {
  position:absolute;
  left:8px;
  top:107px;
  width:122px;
  height:340px;
}
#u2207 {
  position:absolute;
  left:2px;
  top:162px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2208 {
  position:absolute;
  left:8px;
  top:107px;
  width:122px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u2209 {
  position:absolute;
  left:2px;
  top:13px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2211 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2212 {
  position:absolute;
  left:52px;
  top:175px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2213 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2214 {
  position:absolute;
  left:22px;
  top:176px;
  width:20px;
  height:20px;
}
#u2215 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u2216 {
  position:absolute;
  left:22px;
  top:215px;
  width:25px;
  height:24px;
}
#u2217 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2218 {
  position:absolute;
  left:51px;
  top:215px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2219 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u2220 {
  position:absolute;
  left:21px;
  top:257px;
  width:25px;
  height:22px;
}
#u2221 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2222 {
  position:absolute;
  left:51px;
  top:257px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2223 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2224 {
  position:absolute;
  left:38px;
  top:76px;
  width:200px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2225 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u2226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u2226 {
  position:absolute;
  left:721px;
  top:76px;
  width:20px;
  height:22px;
}
#u2227 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2228 {
  position:absolute;
  left:746px;
  top:82px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2229 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2230 {
  position:absolute;
  left:822px;
  top:82px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2231 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u2232 {
  position:absolute;
  left:807px;
  top:77px;
  width:15px;
  height:17px;
  color:#FFFFFF;
}
#u2233 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u2234 {
  position:absolute;
  left:22px;
  top:117px;
  width:26px;
  height:22px;
}
#u2235 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2236 {
  position:absolute;
  left:53px;
  top:117px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2237 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u2238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2238 {
  position:absolute;
  left:130px;
  top:107px;
  width:740px;
  height:340px;
  font-size:14px;
}
#u2239 {
  position:absolute;
  left:2px;
  top:162px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:235px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2240 {
  position:absolute;
  left:140px;
  top:159px;
  width:720px;
  height:235px;
}
#u2241 {
  position:absolute;
  left:2px;
  top:110px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  height:2px;
}
#u2242 {
  position:absolute;
  left:130px;
  top:145px;
  width:740px;
  height:1px;
}
#u2243 {
  position:absolute;
  left:2px;
  top:-8px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CCFF;
}
#u2244 {
  position:absolute;
  left:510px;
  top:117px;
  width:37px;
  height:20px;
  color:#00CCFF;
}
#u2245 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u2246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2246 {
  position:absolute;
  left:581px;
  top:117px;
  width:29px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2247 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2248 {
  position:absolute;
  left:639px;
  top:117px;
  width:51px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2249 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u2250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2250 {
  position:absolute;
  left:719px;
  top:117px;
  width:59px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2251 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2252 {
  position:absolute;
  left:211px;
  top:220px;
  width:120px;
  height:120px;
}
#u2253 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2254 {
  position:absolute;
  left:458px;
  top:220px;
  width:120px;
  height:120px;
}
#u2255 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2256 {
  position:absolute;
  left:721px;
  top:220px;
  width:120px;
  height:120px;
}
#u2257 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2258 {
  position:absolute;
  left:283px;
  top:280px;
  width:0px;
  height:0px;
}
#u2258_seg0 {
  position:absolute;
  left:-72px;
  top:-4px;
  width:76px;
  height:8px;
}
#u2258_seg1 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2258_seg2 {
  position:absolute;
  left:-86px;
  top:-20px;
  width:40px;
  height:40px;
}
#u2259 {
  position:absolute;
  left:-86px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2260 {
  position:absolute;
  left:331px;
  top:280px;
  width:0px;
  height:0px;
}
#u2260_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u2260_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2260_seg2 {
  position:absolute;
  left:40px;
  top:-20px;
  width:40px;
  height:40px;
}
#u2261 {
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2262 {
  position:absolute;
  left:578px;
  top:280px;
  width:0px;
  height:0px;
}
#u2262_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u2262_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2262_seg2 {
  position:absolute;
  left:40px;
  top:-20px;
  width:40px;
  height:40px;
}
#u2263 {
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2264 {
  position:absolute;
  left:247px;
  top:248px;
  width:48px;
  height:48px;
}
#u2265 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:48px;
}
#u2266 {
  position:absolute;
  left:504px;
  top:248px;
  width:56px;
  height:48px;
}
#u2267 {
  position:absolute;
  left:2px;
  top:16px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u2268 {
  position:absolute;
  left:756px;
  top:248px;
  width:50px;
  height:48px;
}
#u2269 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1296DB;
  text-align:center;
}
#u2270 {
  position:absolute;
  left:211px;
  top:315px;
  width:120px;
  height:16px;
  color:#1296DB;
  text-align:center;
}
#u2271 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u2272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1296DB;
  text-align:center;
}
#u2272 {
  position:absolute;
  left:458px;
  top:315px;
  width:120px;
  height:16px;
  color:#1296DB;
  text-align:center;
}
#u2273 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u2274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1296DB;
  text-align:center;
}
#u2274 {
  position:absolute;
  left:721px;
  top:315px;
  width:120px;
  height:16px;
  color:#1296DB;
  text-align:center;
}
#u2275 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u2276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2276 {
  position:absolute;
  left:211px;
  top:350px;
  width:120px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2277 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u2278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2278 {
  position:absolute;
  left:458px;
  top:350px;
  width:120px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2279 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u2280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2280 {
  position:absolute;
  left:721px;
  top:350px;
  width:120px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2281 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u2282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u2282 {
  position:absolute;
  left:163px;
  top:117px;
  width:37px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u2283 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u2284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2284 {
  position:absolute;
  left:28px;
  top:12px;
  width:217px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2285 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
