body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:862px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
}
#u4262 {
  position:absolute;
  left:20px;
  top:38px;
  width:70px;
  height:23px;
}
#u4263 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4264 {
  position:absolute;
  left:0px;
  top:40px;
  width:862px;
  height:45px;
}
#u4265 {
  position:absolute;
  left:2px;
  top:14px;
  width:858px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:340px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(41, 48, 55, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4266 {
  position:absolute;
  left:0px;
  top:85px;
  width:122px;
  height:340px;
}
#u4267 {
  position:absolute;
  left:2px;
  top:162px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u4268 {
  position:absolute;
  left:1px;
  top:207px;
  width:122px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u4269 {
  position:absolute;
  left:2px;
  top:13px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4270 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4271 {
  position:absolute;
  left:42px;
  top:137px;
  width:70px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4272 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u4273 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4274 {
  position:absolute;
  left:43px;
  top:175px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4275 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u4276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4276 {
  position:absolute;
  left:13px;
  top:176px;
  width:20px;
  height:20px;
}
#u4277 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u4278 {
  position:absolute;
  left:13px;
  top:215px;
  width:25px;
  height:24px;
}
#u4279 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4280 {
  position:absolute;
  left:42px;
  top:215px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4281 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u4282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u4282 {
  position:absolute;
  left:12px;
  top:257px;
  width:25px;
  height:22px;
}
#u4283 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4284 {
  position:absolute;
  left:42px;
  top:257px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4285 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u4286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4286 {
  position:absolute;
  left:16px;
  top:139px;
  width:16px;
  height:16px;
}
#u4287 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4288 {
  position:absolute;
  left:30px;
  top:54px;
  width:200px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4289 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u4290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u4290 {
  position:absolute;
  left:713px;
  top:54px;
  width:20px;
  height:22px;
}
#u4291 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4292 {
  position:absolute;
  left:738px;
  top:60px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4293 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4294 {
  position:absolute;
  left:814px;
  top:60px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4295 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u4296 {
  position:absolute;
  left:799px;
  top:55px;
  width:15px;
  height:17px;
  color:#FFFFFF;
}
#u4297 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u4298 {
  position:absolute;
  left:14px;
  top:95px;
  width:26px;
  height:22px;
}
#u4299 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4300 {
  position:absolute;
  left:45px;
  top:95px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4301 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u4302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4302 {
  position:absolute;
  left:122px;
  top:85px;
  width:740px;
  height:340px;
  font-size:14px;
}
#u4303 {
  position:absolute;
  left:2px;
  top:162px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  height:2px;
}
#u4304 {
  position:absolute;
  left:122px;
  top:123px;
  width:740px;
  height:1px;
}
#u4305 {
  position:absolute;
  left:2px;
  top:-8px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u4306 {
  position:absolute;
  left:155px;
  top:95px;
  width:37px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u4307 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u4308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4308 {
  position:absolute;
  left:23px;
  top:0px;
  width:193px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4309 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u4310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:235px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4310 {
  position:absolute;
  left:132px;
  top:138px;
  width:720px;
  height:235px;
}
#u4311 {
  position:absolute;
  left:2px;
  top:110px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4312 {
  position:absolute;
  left:132px;
  top:138px;
  width:720px;
  height:38px;
}
#u4313 {
  position:absolute;
  left:2px;
  top:11px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u4314 {
  position:absolute;
  left:230px;
  top:147px;
  width:61px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u4315 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u4316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u4316 {
  position:absolute;
  left:301px;
  top:147px;
  width:61px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u4317 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u4318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u4318 {
  position:absolute;
  left:372px;
  top:147px;
  width:61px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u4319 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u4320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4320 {
  position:absolute;
  left:143px;
  top:178px;
  width:32px;
  height:32px;
}
#u4321 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u4322 {
  position:absolute;
  left:185px;
  top:183px;
  width:527px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u4323 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
#u4324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4324 {
  position:absolute;
  left:143px;
  top:215px;
  width:32px;
  height:32px;
}
#u4325 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u4326 {
  position:absolute;
  left:185px;
  top:220px;
  width:527px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u4327 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
#u4328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4328 {
  position:absolute;
  left:143px;
  top:247px;
  width:32px;
  height:32px;
}
#u4329 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u4330 {
  position:absolute;
  left:185px;
  top:257px;
  width:527px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u4331 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
#u4332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4332 {
  position:absolute;
  left:143px;
  top:283px;
  width:32px;
  height:32px;
}
#u4333 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u4334 {
  position:absolute;
  left:185px;
  top:293px;
  width:527px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u4335 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
#u4336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u4336 {
  position:absolute;
  left:185px;
  top:333px;
  width:527px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u4337 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
#u4338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4338 {
  position:absolute;
  left:143px;
  top:325px;
  width:32px;
  height:32px;
}
#u4339 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u4340 {
  position:absolute;
  left:763px;
  top:147px;
  width:37px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u4341 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u4342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u4342 {
  position:absolute;
  left:145px;
  top:147px;
  width:75px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u4343 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
