body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:264px;
}
#u15965 {
  position:absolute;
  left:97px;
  top:50px;
  width:243px;
  height:264px;
}
#u15966 {
  position:absolute;
  left:2px;
  top:124px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
