body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u15708 {
  position:absolute;
  left:122px;
  top:306px;
  width:850px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u15709 {
  position:absolute;
  left:2px;
  top:7px;
  width:846px;
  word-wrap:break-word;
}
#u15710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u15710 {
  position:absolute;
  left:128px;
  top:306px;
  width:32px;
  height:32px;
}
#u15711 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15712 {
  position:absolute;
  left:503px;
  top:112px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15713 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u15714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u15714 {
  position:absolute;
  left:455px;
  top:159px;
  width:225px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u15715 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u15716_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:633px;
  height:6px;
}
#u15716 {
  position:absolute;
  left:234px;
  top:206px;
  width:630px;
  height:3px;
}
#u15717 {
  position:absolute;
  left:2px;
  top:-6px;
  width:626px;
  visibility:hidden;
  white-space:nowrap;
}
#u15718_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u15718 {
  position:absolute;
  left:221px;
  top:196px;
  width:22px;
  height:23px;
}
#u15719 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u15720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u15720 {
  position:absolute;
  left:221px;
  top:229px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u15721 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u15722_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u15722 {
  position:absolute;
  left:533px;
  top:196px;
  width:22px;
  height:23px;
}
#u15723 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u15724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u15724 {
  position:absolute;
  left:533px;
  top:229px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u15725 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u15726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15726 {
  position:absolute;
  left:0px;
  top:25px;
  width:1155px;
  height:45px;
}
#u15727 {
  position:absolute;
  left:2px;
  top:14px;
  width:1151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:730px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(41, 48, 55, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15728 {
  position:absolute;
  left:0px;
  top:70px;
  width:120px;
  height:730px;
}
#u15729 {
  position:absolute;
  left:2px;
  top:357px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u15730 {
  position:absolute;
  left:30px;
  top:39px;
  width:200px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u15731 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u15732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u15732 {
  position:absolute;
  left:1008px;
  top:37px;
  width:20px;
  height:22px;
}
#u15733 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u15734 {
  position:absolute;
  left:1033px;
  top:43px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u15735 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u15736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u15736 {
  position:absolute;
  left:1109px;
  top:43px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u15737 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u15738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u15738 {
  position:absolute;
  left:1094px;
  top:38px;
  width:15px;
  height:17px;
  color:#FFFFFF;
}
#u15739 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15740_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1036px;
  height:5px;
}
#u15740 {
  position:absolute;
  left:122px;
  top:90px;
  width:1033px;
  height:2px;
}
#u15741 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1029px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u15742 {
  position:absolute;
  left:992px;
  top:70px;
  width:25px;
  height:22px;
}
#u15743 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u15744 {
  position:absolute;
  left:1017px;
  top:70px;
  width:43px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u15745 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u15746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u15746 {
  position:absolute;
  left:1100px;
  top:70px;
  width:43px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u15747 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u15748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u15748 {
  position:absolute;
  left:1081px;
  top:70px;
  width:19px;
  height:21px;
}
#u15749 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u15750 {
  position:absolute;
  left:14px;
  top:80px;
  width:26px;
  height:22px;
}
#u15751 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15752 {
  position:absolute;
  left:45px;
  top:80px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15753 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u15754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u15754 {
  position:absolute;
  left:-3px;
  top:112px;
  width:123px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u15755 {
  position:absolute;
  left:2px;
  top:13px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15756 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15757 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15758 {
  position:absolute;
  left:43px;
  top:125px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15759 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u15760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15760 {
  position:absolute;
  left:13px;
  top:126px;
  width:20px;
  height:20px;
}
#u15761 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u15762 {
  position:absolute;
  left:928px;
  top:306px;
  width:32px;
  height:32px;
}
#u15763 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15764_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u15764 {
  position:absolute;
  left:850px;
  top:196px;
  width:22px;
  height:23px;
}
#u15765 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u15766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u15766 {
  position:absolute;
  left:850px;
  top:229px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u15767 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u15768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15768 {
  position:absolute;
  left:477px;
  top:751px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15769 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u15770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15770 {
  position:absolute;
  left:164px;
  top:274px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15771 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u15772 {
  position:absolute;
  left:122px;
  top:345px;
  width:850px;
  height:200px;
  overflow:hidden;
}
#u15772_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15772_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:174px;
}
#u15773 {
  position:absolute;
  left:0px;
  top:10px;
  width:813px;
  height:174px;
}
#u15774 {
  position:absolute;
  left:2px;
  top:79px;
  width:809px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15775 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u15776 {
  position:absolute;
  left:122px;
  top:545px;
  width:850px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u15777 {
  position:absolute;
  left:2px;
  top:7px;
  width:846px;
  word-wrap:break-word;
}
#u15778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u15778 {
  position:absolute;
  left:128px;
  top:545px;
  width:32px;
  height:32px;
}
#u15779 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15780 {
  position:absolute;
  left:122px;
  top:581px;
  width:850px;
  height:160px;
  overflow:hidden;
}
#u15780_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:160px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15780_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:108px;
}
#u15781 {
  position:absolute;
  left:30px;
  top:18px;
  width:743px;
  height:108px;
}
#u15782 {
  position:absolute;
  left:2px;
  top:46px;
  width:739px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15783 {
  position:absolute;
  left:40px;
  top:94px;
  width:20px;
  height:16px;
}
#u15784 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15783_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u15785 {
  position:absolute;
  left:40px;
  top:58px;
  width:20px;
  height:16px;
}
#u15786 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15785_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u15787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15787 {
  position:absolute;
  left:50px;
  top:130px;
  width:70px;
  height:20px;
}
#u15788 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u15789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15789 {
  position:absolute;
  left:40px;
  top:130px;
  width:20px;
  height:20px;
}
#u15790 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:4px;
}
#u15791 {
  position:absolute;
  left:130px;
  top:136px;
  width:20px;
  height:4px;
}
#u15792 {
  position:absolute;
  left:2px;
  top:-6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15793 {
  position:absolute;
  left:140px;
  top:130px;
  width:70px;
  height:20px;
}
#u15794 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u15795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u15795 {
  position:absolute;
  left:928px;
  top:545px;
  width:32px;
  height:32px;
}
#u15796 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15797 {
  position:absolute;
  left:872px;
  top:275px;
  width:50px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u15798 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u15797_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
