body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1487px;
}
#u54 {
  position:absolute;
  left:-300px;
  top:0px;
  width:1920px;
  height:1487px;
}
#u55 {
  position:absolute;
  left:2px;
  top:736px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:90px;
  top:136px;
  width:180px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  position:absolute;
  left:292px;
  top:136px;
  width:178px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  position:absolute;
  left:490px;
  top:136px;
  width:180px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59 {
  position:absolute;
  left:690px;
  top:136px;
  width:180px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u60 {
  position:absolute;
  left:91px;
  top:251px;
  width:178px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u61 {
  position:absolute;
  left:290px;
  top:251px;
  width:180px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u62 {
  position:absolute;
  left:490px;
  top:251px;
  width:180px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u63 {
  position:absolute;
  left:1110px;
  top:251px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u64 {
  position:absolute;
  left:1110px;
  top:288px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  position:absolute;
  left:1110px;
  top:326px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  position:absolute;
  left:1110px;
  top:365px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u67 {
  position:absolute;
  left:1110px;
  top:403px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u68 {
  position:absolute;
  left:930px;
  top:136px;
  width:302px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u69 {
  position:absolute;
  left:1110px;
  top:440px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u70 {
  position:absolute;
  left:1110px;
  top:478px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u71 {
  position:absolute;
  left:1110px;
  top:516px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72 {
  position:absolute;
  left:1110px;
  top:555px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u73 {
  position:absolute;
  left:1110px;
  top:722px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u74 {
  position:absolute;
  left:1110px;
  top:759px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u75 {
  position:absolute;
  left:1110px;
  top:797px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u76 {
  position:absolute;
  left:1110px;
  top:836px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u77 {
  position:absolute;
  left:1110px;
  top:874px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u78 {
  position:absolute;
  left:1110px;
  top:911px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u79 {
  position:absolute;
  left:1110px;
  top:949px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u80 {
  position:absolute;
  left:1110px;
  top:987px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u81 {
  position:absolute;
  left:1110px;
  top:1026px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u82 {
  position:absolute;
  left:1196px;
  top:70px;
  width:44px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u83 {
  position:absolute;
  left:70px;
  top:381px;
}
#u83_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u83_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:899px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:899px;
}
#u85 {
  position:absolute;
  left:2px;
  top:442px;
  width:824px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u83_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:899px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:899px;
}
#u87 {
  position:absolute;
  left:2px;
  top:442px;
  width:824px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:505px;
  top:570px;
  width:105px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u89 {
  position:absolute;
  left:627px;
  top:570px;
  width:105px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u90 {
  position:absolute;
  left:440px;
  top:920px;
  width:202px;
  height:210px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u91 {
  position:absolute;
  left:75px;
  top:83px;
  width:50px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u92 {
  position:absolute;
  left:2px;
  top:-1px;
  width:46px;
  word-wrap:break-word;
}
