body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1181px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u16006 {
  position:absolute;
  left:134px;
  top:302px;
  width:1000px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u16007 {
  position:absolute;
  left:2px;
  top:7px;
  width:996px;
  word-wrap:break-word;
}
#u16008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u16008 {
  position:absolute;
  left:140px;
  top:302px;
  width:32px;
  height:32px;
}
#u16009 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16010 {
  position:absolute;
  left:512px;
  top:113px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16011 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u16012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u16012 {
  position:absolute;
  left:480px;
  top:160px;
  width:265px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u16013 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u16014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16014 {
  position:absolute;
  left:0px;
  top:25px;
  width:1155px;
  height:45px;
}
#u16015 {
  position:absolute;
  left:2px;
  top:14px;
  width:1151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:1320px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(41, 48, 55, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16016 {
  position:absolute;
  left:0px;
  top:70px;
  width:120px;
  height:1320px;
}
#u16017 {
  position:absolute;
  left:2px;
  top:652px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u16018 {
  position:absolute;
  left:30px;
  top:39px;
  width:200px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u16019 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u16020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u16020 {
  position:absolute;
  left:1008px;
  top:37px;
  width:20px;
  height:22px;
}
#u16021 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u16022 {
  position:absolute;
  left:1033px;
  top:43px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u16023 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u16024 {
  position:absolute;
  left:1109px;
  top:43px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u16025 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u16026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u16026 {
  position:absolute;
  left:1094px;
  top:38px;
  width:15px;
  height:17px;
  color:#FFFFFF;
}
#u16027 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16028_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1036px;
  height:5px;
}
#u16028 {
  position:absolute;
  left:122px;
  top:90px;
  width:1033px;
  height:2px;
}
#u16029 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1029px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u16030 {
  position:absolute;
  left:992px;
  top:70px;
  width:25px;
  height:22px;
}
#u16031 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u16032 {
  position:absolute;
  left:1017px;
  top:70px;
  width:43px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u16033 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u16034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u16034 {
  position:absolute;
  left:1100px;
  top:70px;
  width:43px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u16035 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u16036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u16036 {
  position:absolute;
  left:1081px;
  top:70px;
  width:19px;
  height:21px;
}
#u16037 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u16038 {
  position:absolute;
  left:14px;
  top:80px;
  width:26px;
  height:22px;
}
#u16039 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16040 {
  position:absolute;
  left:45px;
  top:80px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16041 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u16042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u16042 {
  position:absolute;
  left:-3px;
  top:112px;
  width:123px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u16043 {
  position:absolute;
  left:2px;
  top:13px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u16044 {
  position:absolute;
  left:1087px;
  top:302px;
  width:32px;
  height:32px;
}
#u16045 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u16046 {
  position:absolute;
  left:134px;
  top:348px;
  width:1000px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u16047 {
  position:absolute;
  left:2px;
  top:7px;
  width:996px;
  word-wrap:break-word;
}
#u16048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u16048 {
  position:absolute;
  left:140px;
  top:352px;
  width:32px;
  height:32px;
}
#u16049 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u16050 {
  position:absolute;
  left:1087px;
  top:350px;
  width:32px;
  height:32px;
}
#u16051 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16052 {
  position:absolute;
  left:134px;
  top:384px;
  width:1050px;
  height:1020px;
  overflow:hidden;
}
#u16052_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:1020px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16052_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:486px;
}
#u16053 {
  position:absolute;
  left:0px;
  top:88px;
  width:1037px;
  height:486px;
}
#u16054 {
  position:absolute;
  left:2px;
  top:235px;
  width:1033px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16055 {
  position:absolute;
  left:700px;
  top:43px;
  width:110px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16056 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u16057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16057 {
  position:absolute;
  left:840px;
  top:43px;
  width:120px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16058 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u16059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u16059 {
  position:absolute;
  left:450px;
  top:956px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u16060 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u16061 {
  position:absolute;
  left:11px;
  top:830px;
  width:130px;
  height:16px;
}
#u16062 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u16061_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16063 {
  position:absolute;
  left:151px;
  top:830px;
  width:130px;
  height:16px;
}
#u16064 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u16063_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u16065 {
  position:absolute;
  left:11px;
  top:866px;
  width:196px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u16066 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u16067 {
  position:absolute;
  left:11px;
  top:900px;
  width:100px;
  height:16px;
}
#u16068 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16067_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16067_ann {
  position:absolute;
  left:104px;
  top:896px;
  width:1px;
  height:1px;
}
#u16069 {
  position:absolute;
  left:141px;
  top:900px;
  width:100px;
  height:16px;
}
#u16070 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16069_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16069_ann {
  position:absolute;
  left:234px;
  top:896px;
  width:1px;
  height:1px;
}
#u16071 {
  position:absolute;
  left:720px;
  top:134px;
  width:70px;
  height:20px;
}
#u16071_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16071_input:disabled {
  color:grayText;
}
#u16072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:218px;
}
#u16072 {
  position:absolute;
  left:2px;
  top:574px;
  width:1035px;
  height:218px;
}
#u16073 {
  position:absolute;
  left:2px;
  top:101px;
  width:1031px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:2px;
}
#u16074 {
  position:absolute;
  left:0px;
  top:791px;
  width:1037px;
  height:1px;
}
#u16075 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1033px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16076 {
  position:absolute;
  left:134px;
  top:270px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16077 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u16078_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:403px;
  height:6px;
}
#u16078 {
  position:absolute;
  left:390px;
  top:207px;
  width:400px;
  height:3px;
}
#u16079 {
  position:absolute;
  left:2px;
  top:-6px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16080_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u16080 {
  position:absolute;
  left:379px;
  top:197px;
  width:22px;
  height:23px;
}
#u16081 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u16082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u16082 {
  position:absolute;
  left:364px;
  top:230px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u16083 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16084_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u16084 {
  position:absolute;
  left:778px;
  top:197px;
  width:22px;
  height:23px;
}
#u16085 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u16086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u16086 {
  position:absolute;
  left:763px;
  top:230px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u16087 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16088 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16089 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16090 {
  position:absolute;
  left:46px;
  top:124px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16091 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u16092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16092 {
  position:absolute;
  left:16px;
  top:125px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u16093 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u16094 {
  position:absolute;
  left:16px;
  top:164px;
  width:25px;
  height:24px;
  color:#FFFFFF;
}
#u16095 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16096 {
  position:absolute;
  left:45px;
  top:164px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16097 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u16098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u16098 {
  position:absolute;
  left:15px;
  top:206px;
  width:25px;
  height:22px;
  color:#FFFFFF;
}
#u16099 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16100 {
  position:absolute;
  left:45px;
  top:206px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16101 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u16102 {
  position:absolute;
  left:6px;
  top:238px;
  width:115px;
  height:125px;
}
#u16102_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16103 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u16104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16104 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u16105 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u16106 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u16107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16107 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u16108 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u16109 {
  position:absolute;
  left:0px;
  top:40px;
  width:106px;
  height:20px;
  color:#FFFFFF;
}
#u16110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16110 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u16111 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u16112 {
  position:absolute;
  left:0px;
  top:60px;
  width:110px;
  height:20px;
  color:#FFFFFF;
}
#u16113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16113 {
  position:absolute;
  left:22px;
  top:0px;
  width:88px;
  height:20px;
}
#u16114 {
  position:absolute;
  left:3px;
  top:2px;
  width:83px;
  white-space:nowrap;
}
#u16115 {
  position:absolute;
  left:0px;
  top:80px;
  width:106px;
  height:20px;
  color:#FFFFFF;
}
#u16116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16116 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u16117 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u16118 {
  position:absolute;
  left:0px;
  top:100px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u16119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16119 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u16120 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
