body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
}
#u17634 {
  position:absolute;
  left:30px;
  top:3px;
  width:70px;
  height:23px;
}
#u17635 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17636 {
  position:absolute;
  left:10px;
  top:5px;
  width:1170px;
  height:45px;
}
#u17637 {
  position:absolute;
  left:2px;
  top:14px;
  width:1166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:340px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(41, 48, 55, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17638 {
  position:absolute;
  left:10px;
  top:50px;
  width:122px;
  height:340px;
}
#u17639 {
  position:absolute;
  left:2px;
  top:162px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u17640 {
  position:absolute;
  left:10px;
  top:92px;
  width:122px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u17641 {
  position:absolute;
  left:2px;
  top:13px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17642 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17643 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u17644 {
  position:absolute;
  left:53px;
  top:102px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u17645 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u17646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17646 {
  position:absolute;
  left:23px;
  top:103px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u17647 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u17648 {
  position:absolute;
  left:23px;
  top:142px;
  width:25px;
  height:24px;
  color:#FFFFFF;
}
#u17649 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u17650 {
  position:absolute;
  left:52px;
  top:142px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u17651 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u17652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u17652 {
  position:absolute;
  left:22px;
  top:184px;
  width:25px;
  height:22px;
  color:#FFFFFF;
}
#u17653 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u17654 {
  position:absolute;
  left:52px;
  top:184px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u17655 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u17656 {
  position:absolute;
  left:13px;
  top:216px;
  width:111px;
  height:105px;
}
#u17656_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17657 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u17658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17658 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u17659 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u17660 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u17661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17661 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u17662 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u17663 {
  position:absolute;
  left:0px;
  top:40px;
  width:106px;
  height:20px;
  color:#FFFFFF;
}
#u17664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17664 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u17665 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u17666 {
  position:absolute;
  left:0px;
  top:60px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u17667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17667 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u17668 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u17669 {
  position:absolute;
  left:0px;
  top:80px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u17670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17670 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u17671 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u17672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u17672 {
  position:absolute;
  left:40px;
  top:19px;
  width:200px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u17673 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u17674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u17674 {
  position:absolute;
  left:1010px;
  top:18px;
  width:20px;
  height:22px;
}
#u17675 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u17676 {
  position:absolute;
  left:1035px;
  top:24px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u17677 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u17678 {
  position:absolute;
  left:1111px;
  top:24px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u17679 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u17680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u17680 {
  position:absolute;
  left:1096px;
  top:19px;
  width:15px;
  height:17px;
  color:#FFFFFF;
}
#u17681 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u17682 {
  position:absolute;
  left:24px;
  top:60px;
  width:26px;
  height:22px;
}
#u17683 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u17684 {
  position:absolute;
  left:55px;
  top:60px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u17685 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u17686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u17686 {
  position:absolute;
  left:132px;
  top:50px;
  width:1048px;
  height:340px;
  font-size:14px;
}
#u17687 {
  position:absolute;
  left:2px;
  top:162px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:272px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17688 {
  position:absolute;
  left:142px;
  top:102px;
  width:1038px;
  height:272px;
}
#u17689 {
  position:absolute;
  left:2px;
  top:128px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1049px;
  height:2px;
}
#u17690 {
  position:absolute;
  left:132px;
  top:88px;
  width:1048px;
  height:1px;
}
#u17691 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u17692 {
  position:absolute;
  left:153px;
  top:60px;
  width:37px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u17693 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u17694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17694 {
  position:absolute;
  left:142px;
  top:102px;
  width:1038px;
  height:38px;
}
#u17695 {
  position:absolute;
  left:2px;
  top:11px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u17696 {
  position:absolute;
  left:153px;
  top:112px;
  width:61px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u17697 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u17698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u17698 {
  position:absolute;
  left:224px;
  top:112px;
  width:61px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u17699 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u17700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u17700 {
  position:absolute;
  left:782px;
  top:112px;
  width:37px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u17701 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u17702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17702 {
  position:absolute;
  left:145px;
  top:142px;
  width:69px;
  height:24px;
}
#u17703 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u17704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17704 {
  position:absolute;
  left:224px;
  top:142px;
  width:76px;
  height:24px;
}
#u17705 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u17706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17706 {
  position:absolute;
  left:202px;
  top:132px;
  width:20px;
  height:20px;
}
#u17707 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u17708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17708 {
  position:absolute;
  left:295px;
  top:132px;
  width:20px;
  height:20px;
}
#u17709 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u17710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u17710 {
  position:absolute;
  left:980px;
  top:168px;
  width:32px;
  height:32px;
}
#u17711 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1039px;
  height:2px;
}
#u17712 {
  position:absolute;
  left:142px;
  top:373px;
  width:1038px;
  height:1px;
}
#u17713 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u17714 {
  position:absolute;
  left:1111px;
  top:24px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u17715 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u17716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:185px;
}
#u17716 {
  position:absolute;
  left:143px;
  top:178px;
  width:1026px;
  height:185px;
}
#u17717 {
  position:absolute;
  left:2px;
  top:84px;
  width:1022px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u17718 {
  position:absolute;
  left:337px;
  top:228px;
  width:32px;
  height:32px;
}
#u17719 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u17720 {
  position:absolute;
  left:172px;
  top:228px;
  width:60px;
  height:19px;
  font-size:10px;
}
#u17721 {
  position:absolute;
  left:2px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u17722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17722 {
  position:absolute;
  left:417px;
  top:142px;
  width:76px;
  height:24px;
}
#u17723 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u17724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17724 {
  position:absolute;
  left:331px;
  top:142px;
  width:76px;
  height:24px;
}
#u17725 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
