body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12353 {
  position:absolute;
  left:391px;
  top:136px;
  width:178px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12354 {
  position:absolute;
  left:590px;
  top:136px;
  width:178px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12355 {
  position:absolute;
  left:790px;
  top:136px;
  width:178px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12356 {
  position:absolute;
  left:990px;
  top:136px;
  width:178px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12357 {
  position:absolute;
  left:391px;
  top:251px;
  width:178px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12358 {
  position:absolute;
  left:590px;
  top:251px;
  width:178px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12359 {
  position:absolute;
  left:790px;
  top:251px;
  width:178px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12360 {
  position:absolute;
  left:1408px;
  top:248px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12361 {
  position:absolute;
  left:1408px;
  top:285px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12362 {
  position:absolute;
  left:1408px;
  top:323px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12363 {
  position:absolute;
  left:1408px;
  top:362px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12364 {
  position:absolute;
  left:1408px;
  top:400px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12365 {
  position:absolute;
  left:1229px;
  top:142px;
  width:302px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12366 {
  position:absolute;
  left:1408px;
  top:437px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12367 {
  position:absolute;
  left:1408px;
  top:475px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12368 {
  position:absolute;
  left:1408px;
  top:513px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12369 {
  position:absolute;
  left:1408px;
  top:552px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12370 {
  position:absolute;
  left:1408px;
  top:726px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12371 {
  position:absolute;
  left:1408px;
  top:763px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12372 {
  position:absolute;
  left:1408px;
  top:801px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12373 {
  position:absolute;
  left:1408px;
  top:840px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12374 {
  position:absolute;
  left:1408px;
  top:878px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12375 {
  position:absolute;
  left:1408px;
  top:915px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12376 {
  position:absolute;
  left:1408px;
  top:953px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12377 {
  position:absolute;
  left:1408px;
  top:991px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12378 {
  position:absolute;
  left:1408px;
  top:1030px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12379 {
  position:absolute;
  left:1494px;
  top:71px;
  width:44px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12380 {
  position:absolute;
  left:1229px;
  top:622px;
  width:302px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12381 {
  position:absolute;
  left:0px;
  top:0px;
}
#u12381_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12381_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1487px;
}
#u12382 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1487px;
}
#u12383 {
  position:absolute;
  left:2px;
  top:736px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12384 {
  position:absolute;
  left:366px;
  top:384px;
}
#u12384_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12384_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:899px;
}
#u12385 {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:899px;
}
#u12386 {
  position:absolute;
  left:2px;
  top:442px;
  width:824px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12384_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u12384_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:899px;
}
#u12387 {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:899px;
}
#u12388 {
  position:absolute;
  left:2px;
  top:442px;
  width:824px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12389 {
  position:absolute;
  left:801px;
  top:583px;
  width:105px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12390 {
  position:absolute;
  left:923px;
  top:583px;
  width:105px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12391 {
  position:absolute;
  left:635px;
  top:878px;
  width:304px;
  height:163px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
