body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10836 {
  position:absolute;
  left:-45px;
  top:-30px;
  width:980px;
  height:960px;
  overflow:hidden;
}
#u10836_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:960px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10836_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10837 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:269px;
}
#u10838 {
  position:absolute;
  left:0px;
  top:141px;
  width:720px;
  height:269px;
}
#u10839 {
  position:absolute;
  left:2px;
  top:126px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u10840 {
  position:absolute;
  left:440px;
  top:208px;
  width:10px;
  height:10px;
}
#u10841 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u10842 {
  position:absolute;
  left:440px;
  top:295px;
  width:10px;
  height:10px;
}
#u10843 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u10844 {
  position:absolute;
  left:440px;
  top:340px;
  width:10px;
  height:10px;
}
#u10845 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u10846 {
  position:absolute;
  left:440px;
  top:383px;
  width:10px;
  height:10px;
}
#u10847 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u10848 {
  position:absolute;
  left:100px;
  top:340px;
  width:10px;
  height:10px;
}
#u10849 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u10850 {
  position:absolute;
  left:100px;
  top:208px;
  width:10px;
  height:10px;
}
#u10851 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u10852 {
  position:absolute;
  left:100px;
  top:295px;
  width:10px;
  height:10px;
}
#u10853 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u10854 {
  position:absolute;
  left:135px;
  top:383px;
  width:10px;
  height:10px;
}
#u10855 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:2px;
}
#u10856 {
  position:absolute;
  left:70px;
  top:189px;
  width:640px;
  height:1px;
}
#u10857 {
  position:absolute;
  left:2px;
  top:-8px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:205px;
}
#u10858 {
  position:absolute;
  left:40px;
  top:200px;
  width:1px;
  height:204px;
}
#u10859 {
  position:absolute;
  left:2px;
  top:94px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:2px;
}
#u10860 {
  position:absolute;
  left:40px;
  top:403px;
  width:670px;
  height:1px;
}
#u10861 {
  position:absolute;
  left:2px;
  top:-8px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:215px;
}
#u10862 {
  position:absolute;
  left:709px;
  top:190px;
  width:1px;
  height:214px;
}
#u10863 {
  position:absolute;
  left:2px;
  top:99px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:251px;
}
#u10864 {
  position:absolute;
  left:0px;
  top:420px;
  width:720px;
  height:251px;
}
#u10865 {
  position:absolute;
  left:2px;
  top:118px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10866 {
  position:absolute;
  left:310px;
  top:488px;
  width:100px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10867 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u10868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10868 {
  position:absolute;
  left:280px;
  top:681px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10869 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u10870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:2px;
}
#u10870 {
  position:absolute;
  left:85px;
  top:450px;
  width:625px;
  height:1px;
}
#u10871 {
  position:absolute;
  left:2px;
  top:-8px;
  width:621px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:191px;
}
#u10872 {
  position:absolute;
  left:40px;
  top:460px;
  width:1px;
  height:190px;
}
#u10873 {
  position:absolute;
  left:2px;
  top:87px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:2px;
}
#u10874 {
  position:absolute;
  left:40px;
  top:649px;
  width:670px;
  height:1px;
}
#u10875 {
  position:absolute;
  left:2px;
  top:-8px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u10876 {
  position:absolute;
  left:709px;
  top:450px;
  width:1px;
  height:200px;
}
#u10877 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u10878 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:131px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u10879 {
  position:absolute;
  left:2px;
  top:56px;
  width:716px;
  word-wrap:break-word;
}
#u10880 {
  position:absolute;
  left:85px;
  top:56px;
  width:169px;
  height:20px;
}
#u10880_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10880_input:disabled {
  color:grayText;
}
#u10881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u10881 {
  position:absolute;
  left:430px;
  top:56px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10882 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10883 {
  position:absolute;
  left:537px;
  top:57px;
  width:70px;
  height:19px;
}
#u10883_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10883_input:disabled {
  color:grayText;
}
