body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u7266 {
  position:absolute;
  left:122px;
  top:306px;
  width:850px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u7267 {
  position:absolute;
  left:2px;
  top:7px;
  width:846px;
  word-wrap:break-word;
}
#u7268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7268 {
  position:absolute;
  left:128px;
  top:306px;
  width:32px;
  height:32px;
}
#u7269 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7270 {
  position:absolute;
  left:503px;
  top:112px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7271 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u7272 {
  position:absolute;
  left:455px;
  top:159px;
  width:225px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u7273 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u7274_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:633px;
  height:6px;
}
#u7274 {
  position:absolute;
  left:234px;
  top:206px;
  width:630px;
  height:3px;
}
#u7275 {
  position:absolute;
  left:2px;
  top:-6px;
  width:626px;
  visibility:hidden;
  white-space:nowrap;
}
#u7276_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u7276 {
  position:absolute;
  left:221px;
  top:196px;
  width:22px;
  height:23px;
}
#u7277 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u7278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7278 {
  position:absolute;
  left:221px;
  top:229px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7279 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7280_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u7280 {
  position:absolute;
  left:533px;
  top:196px;
  width:22px;
  height:23px;
}
#u7281 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u7282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7282 {
  position:absolute;
  left:533px;
  top:229px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7283 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7284 {
  position:absolute;
  left:0px;
  top:25px;
  width:1155px;
  height:45px;
}
#u7285 {
  position:absolute;
  left:2px;
  top:14px;
  width:1151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:730px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(41, 48, 55, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7286 {
  position:absolute;
  left:0px;
  top:70px;
  width:120px;
  height:730px;
}
#u7287 {
  position:absolute;
  left:2px;
  top:357px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7288 {
  position:absolute;
  left:30px;
  top:39px;
  width:200px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7289 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u7290 {
  position:absolute;
  left:1008px;
  top:37px;
  width:20px;
  height:22px;
}
#u7291 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u7292 {
  position:absolute;
  left:1033px;
  top:43px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u7293 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u7294 {
  position:absolute;
  left:1109px;
  top:43px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u7295 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u7296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u7296 {
  position:absolute;
  left:1094px;
  top:38px;
  width:15px;
  height:17px;
  color:#FFFFFF;
}
#u7297 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7298_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1036px;
  height:5px;
}
#u7298 {
  position:absolute;
  left:122px;
  top:90px;
  width:1033px;
  height:2px;
}
#u7299 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1029px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u7300 {
  position:absolute;
  left:992px;
  top:70px;
  width:25px;
  height:22px;
}
#u7301 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7302 {
  position:absolute;
  left:1017px;
  top:70px;
  width:43px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7303 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u7304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7304 {
  position:absolute;
  left:1100px;
  top:70px;
  width:43px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7305 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u7306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u7306 {
  position:absolute;
  left:1081px;
  top:70px;
  width:19px;
  height:21px;
}
#u7307 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u7308 {
  position:absolute;
  left:14px;
  top:80px;
  width:26px;
  height:22px;
}
#u7309 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7310 {
  position:absolute;
  left:45px;
  top:80px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7311 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u7312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u7312 {
  position:absolute;
  left:-3px;
  top:112px;
  width:123px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u7313 {
  position:absolute;
  left:2px;
  top:13px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7314 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7315 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7316 {
  position:absolute;
  left:43px;
  top:125px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7317 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u7318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7318 {
  position:absolute;
  left:13px;
  top:126px;
  width:20px;
  height:20px;
}
#u7319 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7320 {
  position:absolute;
  left:928px;
  top:306px;
  width:32px;
  height:32px;
}
#u7321 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7322_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u7322 {
  position:absolute;
  left:850px;
  top:196px;
  width:22px;
  height:23px;
}
#u7323 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u7324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7324 {
  position:absolute;
  left:850px;
  top:229px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7325 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7326 {
  position:absolute;
  left:477px;
  top:751px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7327 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7328 {
  position:absolute;
  left:164px;
  top:274px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7329 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u7330 {
  position:absolute;
  left:122px;
  top:345px;
  width:850px;
  height:200px;
  overflow:hidden;
}
#u7330_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7330_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:174px;
}
#u7331 {
  position:absolute;
  left:0px;
  top:10px;
  width:813px;
  height:174px;
}
#u7332 {
  position:absolute;
  left:2px;
  top:79px;
  width:809px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7333 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u7334 {
  position:absolute;
  left:122px;
  top:545px;
  width:850px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u7335 {
  position:absolute;
  left:2px;
  top:7px;
  width:846px;
  word-wrap:break-word;
}
#u7336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7336 {
  position:absolute;
  left:128px;
  top:545px;
  width:32px;
  height:32px;
}
#u7337 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7338 {
  position:absolute;
  left:122px;
  top:581px;
  width:850px;
  height:160px;
  overflow:hidden;
}
#u7338_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:160px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7338_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:108px;
}
#u7339 {
  position:absolute;
  left:30px;
  top:18px;
  width:743px;
  height:108px;
}
#u7340 {
  position:absolute;
  left:2px;
  top:46px;
  width:739px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7341 {
  position:absolute;
  left:40px;
  top:94px;
  width:20px;
  height:16px;
}
#u7342 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7341_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7343 {
  position:absolute;
  left:40px;
  top:58px;
  width:20px;
  height:16px;
}
#u7344 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7343_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7345 {
  position:absolute;
  left:50px;
  top:130px;
  width:70px;
  height:20px;
}
#u7346 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u7347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7347 {
  position:absolute;
  left:40px;
  top:130px;
  width:20px;
  height:20px;
}
#u7348 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:4px;
}
#u7349 {
  position:absolute;
  left:130px;
  top:136px;
  width:20px;
  height:4px;
}
#u7350 {
  position:absolute;
  left:2px;
  top:-6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7351 {
  position:absolute;
  left:140px;
  top:130px;
  width:70px;
  height:20px;
}
#u7352 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u7353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7353 {
  position:absolute;
  left:928px;
  top:545px;
  width:32px;
  height:32px;
}
#u7354 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7355 {
  position:absolute;
  left:872px;
  top:275px;
  width:50px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7356 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u7355_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
