body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u7134 {
  position:absolute;
  left:122px;
  top:306px;
  width:850px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u7135 {
  position:absolute;
  left:2px;
  top:7px;
  width:846px;
  word-wrap:break-word;
}
#u7136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7136 {
  position:absolute;
  left:128px;
  top:306px;
  width:32px;
  height:32px;
}
#u7137 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7138 {
  position:absolute;
  left:503px;
  top:112px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7139 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u7140 {
  position:absolute;
  left:455px;
  top:159px;
  width:225px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u7141 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u7142_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:633px;
  height:6px;
}
#u7142 {
  position:absolute;
  left:234px;
  top:206px;
  width:630px;
  height:3px;
}
#u7143 {
  position:absolute;
  left:2px;
  top:-6px;
  width:626px;
  visibility:hidden;
  white-space:nowrap;
}
#u7144_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u7144 {
  position:absolute;
  left:221px;
  top:196px;
  width:22px;
  height:23px;
}
#u7145 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u7146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7146 {
  position:absolute;
  left:221px;
  top:229px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7147 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7148_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u7148 {
  position:absolute;
  left:533px;
  top:196px;
  width:22px;
  height:23px;
}
#u7149 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u7150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7150 {
  position:absolute;
  left:533px;
  top:229px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7151 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7152 {
  position:absolute;
  left:0px;
  top:25px;
  width:1155px;
  height:45px;
}
#u7153 {
  position:absolute;
  left:2px;
  top:14px;
  width:1151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:730px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(41, 48, 55, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7154 {
  position:absolute;
  left:0px;
  top:70px;
  width:120px;
  height:730px;
}
#u7155 {
  position:absolute;
  left:2px;
  top:357px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7156 {
  position:absolute;
  left:30px;
  top:39px;
  width:200px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7157 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u7158 {
  position:absolute;
  left:1008px;
  top:37px;
  width:20px;
  height:22px;
}
#u7159 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u7160 {
  position:absolute;
  left:1033px;
  top:43px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u7161 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u7162 {
  position:absolute;
  left:1109px;
  top:43px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u7163 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u7164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u7164 {
  position:absolute;
  left:1094px;
  top:38px;
  width:15px;
  height:17px;
  color:#FFFFFF;
}
#u7165 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7166_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1036px;
  height:5px;
}
#u7166 {
  position:absolute;
  left:122px;
  top:90px;
  width:1033px;
  height:2px;
}
#u7167 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1029px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u7168 {
  position:absolute;
  left:992px;
  top:70px;
  width:25px;
  height:22px;
}
#u7169 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7170 {
  position:absolute;
  left:1017px;
  top:70px;
  width:43px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7171 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u7172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7172 {
  position:absolute;
  left:1100px;
  top:70px;
  width:43px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7173 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u7174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u7174 {
  position:absolute;
  left:1081px;
  top:70px;
  width:19px;
  height:21px;
}
#u7175 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u7176 {
  position:absolute;
  left:14px;
  top:80px;
  width:26px;
  height:22px;
}
#u7177 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7178 {
  position:absolute;
  left:45px;
  top:80px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7179 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u7180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u7180 {
  position:absolute;
  left:-3px;
  top:112px;
  width:123px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u7181 {
  position:absolute;
  left:2px;
  top:13px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7182 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7184 {
  position:absolute;
  left:43px;
  top:125px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7185 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u7186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7186 {
  position:absolute;
  left:13px;
  top:126px;
  width:20px;
  height:20px;
}
#u7187 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7188 {
  position:absolute;
  left:928px;
  top:306px;
  width:32px;
  height:32px;
}
#u7189 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7190_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u7190 {
  position:absolute;
  left:850px;
  top:196px;
  width:22px;
  height:23px;
}
#u7191 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u7192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7192 {
  position:absolute;
  left:850px;
  top:229px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7193 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7194 {
  position:absolute;
  left:477px;
  top:751px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7195 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7196 {
  position:absolute;
  left:164px;
  top:274px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7197 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u7198 {
  position:absolute;
  left:122px;
  top:345px;
  width:850px;
  height:200px;
  overflow:hidden;
}
#u7198_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7198_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:174px;
}
#u7199 {
  position:absolute;
  left:0px;
  top:10px;
  width:813px;
  height:174px;
}
#u7200 {
  position:absolute;
  left:2px;
  top:79px;
  width:809px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7201 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u7202 {
  position:absolute;
  left:122px;
  top:545px;
  width:850px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u7203 {
  position:absolute;
  left:2px;
  top:7px;
  width:846px;
  word-wrap:break-word;
}
#u7204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7204 {
  position:absolute;
  left:128px;
  top:545px;
  width:32px;
  height:32px;
}
#u7205 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7206 {
  position:absolute;
  left:122px;
  top:581px;
  width:850px;
  height:160px;
  overflow:hidden;
}
#u7206_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:160px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7206_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:108px;
}
#u7207 {
  position:absolute;
  left:30px;
  top:18px;
  width:743px;
  height:108px;
}
#u7208 {
  position:absolute;
  left:2px;
  top:46px;
  width:739px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7209 {
  position:absolute;
  left:40px;
  top:94px;
  width:20px;
  height:16px;
}
#u7210 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7209_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7211 {
  position:absolute;
  left:40px;
  top:58px;
  width:20px;
  height:16px;
}
#u7212 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7211_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7213 {
  position:absolute;
  left:50px;
  top:130px;
  width:70px;
  height:20px;
}
#u7214 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u7215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7215 {
  position:absolute;
  left:40px;
  top:130px;
  width:20px;
  height:20px;
}
#u7216 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:4px;
}
#u7217 {
  position:absolute;
  left:130px;
  top:136px;
  width:20px;
  height:4px;
}
#u7218 {
  position:absolute;
  left:2px;
  top:-6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7219 {
  position:absolute;
  left:140px;
  top:130px;
  width:70px;
  height:20px;
}
#u7220 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u7221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7221 {
  position:absolute;
  left:928px;
  top:545px;
  width:32px;
  height:32px;
}
#u7222 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7223 {
  position:absolute;
  left:872px;
  top:275px;
  width:50px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7224 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u7223_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
