body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1167px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u20673 {
  position:absolute;
  left:134px;
  top:302px;
  width:1040px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u20674 {
  position:absolute;
  left:2px;
  top:7px;
  width:1036px;
  word-wrap:break-word;
}
#u20675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u20675 {
  position:absolute;
  left:140px;
  top:302px;
  width:32px;
  height:32px;
}
#u20676 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20677 {
  position:absolute;
  left:497px;
  top:117px;
  width:257px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20678 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u20679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20679 {
  position:absolute;
  left:0px;
  top:25px;
  width:1155px;
  height:45px;
}
#u20680 {
  position:absolute;
  left:2px;
  top:14px;
  width:1151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:874px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(41, 48, 55, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20681 {
  position:absolute;
  left:0px;
  top:70px;
  width:120px;
  height:874px;
}
#u20682 {
  position:absolute;
  left:2px;
  top:429px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20683 {
  position:absolute;
  left:30px;
  top:39px;
  width:200px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20684 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u20685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u20685 {
  position:absolute;
  left:1008px;
  top:37px;
  width:20px;
  height:22px;
}
#u20686 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u20687 {
  position:absolute;
  left:1033px;
  top:43px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u20688 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u20689 {
  position:absolute;
  left:1109px;
  top:43px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u20690 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u20691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u20691 {
  position:absolute;
  left:1094px;
  top:38px;
  width:15px;
  height:17px;
  color:#FFFFFF;
}
#u20692 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20693_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1036px;
  height:5px;
}
#u20693 {
  position:absolute;
  left:122px;
  top:90px;
  width:1033px;
  height:2px;
}
#u20694 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1029px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u20695 {
  position:absolute;
  left:992px;
  top:70px;
  width:25px;
  height:22px;
}
#u20696 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u20697 {
  position:absolute;
  left:1017px;
  top:70px;
  width:43px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u20698 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u20699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u20699 {
  position:absolute;
  left:1100px;
  top:70px;
  width:43px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u20700 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u20701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u20701 {
  position:absolute;
  left:1081px;
  top:70px;
  width:19px;
  height:21px;
}
#u20702 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u20703 {
  position:absolute;
  left:14px;
  top:80px;
  width:26px;
  height:22px;
}
#u20704 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20705 {
  position:absolute;
  left:45px;
  top:80px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20706 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u20707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u20707 {
  position:absolute;
  left:-7px;
  top:278px;
  width:128px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u20708 {
  position:absolute;
  left:2px;
  top:3px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u20709 {
  position:absolute;
  left:1130px;
  top:304px;
  width:32px;
  height:32px;
}
#u20710 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u20711 {
  position:absolute;
  left:1087px;
  top:350px;
  width:32px;
  height:32px;
}
#u20712 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20713 {
  position:absolute;
  left:134px;
  top:270px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20714 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u20715_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:403px;
  height:6px;
}
#u20715 {
  position:absolute;
  left:425px;
  top:204px;
  width:400px;
  height:3px;
}
#u20716 {
  position:absolute;
  left:2px;
  top:-6px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20717_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u20717 {
  position:absolute;
  left:414px;
  top:194px;
  width:22px;
  height:23px;
}
#u20718 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u20719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u20719 {
  position:absolute;
  left:412px;
  top:227px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u20720 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20721_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u20721 {
  position:absolute;
  left:813px;
  top:194px;
  width:22px;
  height:23px;
}
#u20722 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u20723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u20723 {
  position:absolute;
  left:813px;
  top:227px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u20724 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20725 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20726 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20727 {
  position:absolute;
  left:46px;
  top:124px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20728 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u20729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20729 {
  position:absolute;
  left:16px;
  top:125px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u20730 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u20731 {
  position:absolute;
  left:16px;
  top:164px;
  width:25px;
  height:24px;
  color:#FFFFFF;
}
#u20732 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20733 {
  position:absolute;
  left:45px;
  top:164px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20734 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u20735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u20735 {
  position:absolute;
  left:15px;
  top:206px;
  width:25px;
  height:22px;
  color:#FFFFFF;
}
#u20736 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20737 {
  position:absolute;
  left:45px;
  top:206px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20738 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u20739 {
  position:absolute;
  left:6px;
  top:238px;
  width:115px;
  height:125px;
}
#u20739_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20740 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u20741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20741 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u20742 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u20743 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u20744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20744 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u20745 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u20746 {
  position:absolute;
  left:0px;
  top:40px;
  width:106px;
  height:20px;
  color:#FFFFFF;
}
#u20747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20747 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u20748 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u20749 {
  position:absolute;
  left:0px;
  top:60px;
  width:110px;
  height:20px;
  color:#FFFFFF;
}
#u20750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20750 {
  position:absolute;
  left:22px;
  top:0px;
  width:88px;
  height:20px;
}
#u20751 {
  position:absolute;
  left:3px;
  top:2px;
  width:83px;
  white-space:nowrap;
}
#u20752 {
  position:absolute;
  left:0px;
  top:80px;
  width:106px;
  height:20px;
  color:#FFFFFF;
}
#u20753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20753 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u20754 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u20755 {
  position:absolute;
  left:0px;
  top:100px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u20756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20756 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u20757 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u20758 {
  position:absolute;
  left:134px;
  top:344px;
  width:900px;
  height:600px;
  overflow:hidden;
}
#u20758_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20758_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u20759 {
  position:absolute;
  left:380px;
  top:1750px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u20760 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u20761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20761 {
  position:absolute;
  left:710px;
  top:6px;
  width:120px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20762 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u20763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u20763 {
  position:absolute;
  left:50px;
  top:50px;
  width:101px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u20764 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u20765 {
  position:absolute;
  left:151px;
  top:50px;
  width:255px;
  height:25px;
}
#u20765_input {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u20766 {
  position:absolute;
  left:50px;
  top:98px;
  width:101px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u20767 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u20768 {
  position:absolute;
  left:161px;
  top:106px;
  width:110px;
  height:16px;
  color:#FF0000;
}
#u20769 {
  position:absolute;
  left:16px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u20768_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20770 {
  position:absolute;
  left:292px;
  top:106px;
  width:84px;
  height:16px;
  color:#FF0000;
}
#u20771 {
  position:absolute;
  left:16px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u20770_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20772 {
  position:absolute;
  left:422px;
  top:106px;
  width:84px;
  height:16px;
  color:#FF0000;
}
#u20773 {
  position:absolute;
  left:16px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u20772_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20774 {
  position:absolute;
  left:542px;
  top:106px;
  width:84px;
  height:16px;
  color:#FF0000;
}
#u20775 {
  position:absolute;
  left:16px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u20774_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20776 {
  position:absolute;
  left:150px;
  top:150px;
  width:361px;
  height:125px;
}
#u20777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u20777 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u20778 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u20779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u20779 {
  position:absolute;
  left:119px;
  top:0px;
  width:119px;
  height:30px;
}
#u20780 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u20781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u20781 {
  position:absolute;
  left:238px;
  top:0px;
  width:118px;
  height:30px;
}
#u20782 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u20783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u20783 {
  position:absolute;
  left:0px;
  top:30px;
  width:119px;
  height:30px;
}
#u20784 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u20785 {
  position:absolute;
  left:119px;
  top:30px;
  width:119px;
  height:30px;
}
#u20786 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u20787 {
  position:absolute;
  left:238px;
  top:30px;
  width:118px;
  height:30px;
}
#u20788 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u20789 {
  position:absolute;
  left:0px;
  top:60px;
  width:119px;
  height:30px;
}
#u20790 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u20791 {
  position:absolute;
  left:119px;
  top:60px;
  width:119px;
  height:30px;
}
#u20792 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u20793 {
  position:absolute;
  left:238px;
  top:60px;
  width:118px;
  height:30px;
}
#u20794 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u20795 {
  position:absolute;
  left:0px;
  top:90px;
  width:119px;
  height:30px;
}
#u20796 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u20797 {
  position:absolute;
  left:119px;
  top:90px;
  width:119px;
  height:30px;
}
#u20798 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u20799 {
  position:absolute;
  left:238px;
  top:90px;
  width:118px;
  height:30px;
}
#u20800 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u20801 {
  position:absolute;
  left:50px;
  top:150px;
  width:101px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u20802 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u20803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20803 {
  position:absolute;
  left:160px;
  top:280px;
  width:70px;
  height:20px;
}
#u20804 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u20805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20805 {
  position:absolute;
  left:150px;
  top:280px;
  width:20px;
  height:20px;
}
#u20806 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20807 {
  position:absolute;
  left:278px;
  top:280px;
  width:48px;
  height:20px;
}
#u20808 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u20809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:4px;
}
#u20809 {
  position:absolute;
  left:248px;
  top:290px;
  width:20px;
  height:4px;
}
#u20810 {
  position:absolute;
  left:2px;
  top:-6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:158px;
}
#u20811 {
  position:absolute;
  left:50px;
  top:320px;
  width:503px;
  height:158px;
}
#u20812 {
  position:absolute;
  left:2px;
  top:71px;
  width:499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u20813 {
  position:absolute;
  left:371px;
  top:546px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u20814 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u20815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u20815 {
  position:absolute;
  left:390px;
  top:160px;
  width:470px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u20816 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
