body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u6184 {
  position:absolute;
  left:122px;
  top:306px;
  width:850px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u6185 {
  position:absolute;
  left:2px;
  top:7px;
  width:846px;
  word-wrap:break-word;
}
#u6186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6186 {
  position:absolute;
  left:128px;
  top:306px;
  width:32px;
  height:32px;
}
#u6187 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6188 {
  position:absolute;
  left:482px;
  top:112px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6189 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u6190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u6190 {
  position:absolute;
  left:455px;
  top:159px;
  width:225px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u6191 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u6192_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:633px;
  height:6px;
}
#u6192 {
  position:absolute;
  left:234px;
  top:206px;
  width:630px;
  height:3px;
}
#u6193 {
  position:absolute;
  left:2px;
  top:-6px;
  width:626px;
  visibility:hidden;
  white-space:nowrap;
}
#u6194_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u6194 {
  position:absolute;
  left:221px;
  top:196px;
  width:22px;
  height:23px;
}
#u6195 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u6196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6196 {
  position:absolute;
  left:221px;
  top:229px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6197 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6198_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u6198 {
  position:absolute;
  left:533px;
  top:196px;
  width:22px;
  height:23px;
}
#u6199 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u6200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6200 {
  position:absolute;
  left:533px;
  top:229px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6201 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6202 {
  position:absolute;
  left:0px;
  top:25px;
  width:1155px;
  height:45px;
}
#u6203 {
  position:absolute;
  left:2px;
  top:14px;
  width:1151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:950px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(41, 48, 55, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6204 {
  position:absolute;
  left:0px;
  top:70px;
  width:120px;
  height:950px;
}
#u6205 {
  position:absolute;
  left:2px;
  top:467px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6206 {
  position:absolute;
  left:30px;
  top:39px;
  width:200px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6207 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u6208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u6208 {
  position:absolute;
  left:1008px;
  top:37px;
  width:20px;
  height:22px;
}
#u6209 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u6210 {
  position:absolute;
  left:1033px;
  top:43px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u6211 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u6212 {
  position:absolute;
  left:1109px;
  top:43px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u6213 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u6214 {
  position:absolute;
  left:1094px;
  top:38px;
  width:15px;
  height:17px;
  color:#FFFFFF;
}
#u6215 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6216_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1036px;
  height:5px;
}
#u6216 {
  position:absolute;
  left:122px;
  top:90px;
  width:1033px;
  height:2px;
}
#u6217 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1029px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u6218 {
  position:absolute;
  left:992px;
  top:70px;
  width:25px;
  height:22px;
}
#u6219 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6220 {
  position:absolute;
  left:1017px;
  top:70px;
  width:43px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6221 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u6222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6222 {
  position:absolute;
  left:1100px;
  top:70px;
  width:43px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6223 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u6224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u6224 {
  position:absolute;
  left:1081px;
  top:70px;
  width:19px;
  height:21px;
}
#u6225 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u6226 {
  position:absolute;
  left:14px;
  top:80px;
  width:26px;
  height:22px;
}
#u6227 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6228 {
  position:absolute;
  left:45px;
  top:80px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6229 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u6230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6230 {
  position:absolute;
  left:-3px;
  top:112px;
  width:123px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u6231 {
  position:absolute;
  left:2px;
  top:13px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6232 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6234 {
  position:absolute;
  left:43px;
  top:125px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6235 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u6236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6236 {
  position:absolute;
  left:13px;
  top:126px;
  width:20px;
  height:20px;
}
#u6237 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6238 {
  position:absolute;
  left:928px;
  top:306px;
  width:32px;
  height:32px;
}
#u6239 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6240_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u6240 {
  position:absolute;
  left:850px;
  top:196px;
  width:22px;
  height:23px;
}
#u6241 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u6242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6242 {
  position:absolute;
  left:850px;
  top:229px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6243 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6244 {
  position:absolute;
  left:164px;
  top:274px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6245 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u6246 {
  position:absolute;
  left:122px;
  top:345px;
  width:870px;
  height:315px;
  overflow:hidden;
}
#u6246_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:315px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6246_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:318px;
}
#u6247 {
  position:absolute;
  left:0px;
  top:-8px;
  width:863px;
  height:318px;
}
#u6248 {
  position:absolute;
  left:2px;
  top:151px;
  width:859px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6249 {
  position:absolute;
  left:150px;
  top:60px;
  width:250px;
  height:22px;
}
#u6249_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6249_input:disabled {
  color:grayText;
}
#u6250 {
  position:absolute;
  left:610px;
  top:46px;
  width:240px;
  height:36px;
}
#u6250_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6250_input:disabled {
  color:grayText;
}
#u6251 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u6252 {
  position:absolute;
  left:122px;
  top:660px;
  width:850px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u6253 {
  position:absolute;
  left:2px;
  top:7px;
  width:846px;
  word-wrap:break-word;
}
#u6254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6254 {
  position:absolute;
  left:128px;
  top:660px;
  width:32px;
  height:32px;
}
#u6255 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6256 {
  position:absolute;
  left:122px;
  top:696px;
  width:850px;
  height:220px;
  overflow:hidden;
}
#u6256_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:220px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6256_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  height:126px;
}
#u6257 {
  position:absolute;
  left:20px;
  top:10px;
  width:793px;
  height:126px;
}
#u6258 {
  position:absolute;
  left:2px;
  top:55px;
  width:789px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6259 {
  position:absolute;
  left:65px;
  top:84px;
  width:20px;
  height:16px;
}
#u6260 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6259_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6261 {
  position:absolute;
  left:65px;
  top:34px;
  width:20px;
  height:16px;
}
#u6262 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6261_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6263 {
  position:absolute;
  left:40px;
  top:160px;
  width:70px;
  height:20px;
}
#u6264 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u6265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6265 {
  position:absolute;
  left:30px;
  top:160px;
  width:20px;
  height:20px;
}
#u6266 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:4px;
}
#u6267 {
  position:absolute;
  left:120px;
  top:166px;
  width:20px;
  height:4px;
}
#u6268 {
  position:absolute;
  left:2px;
  top:-6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6269 {
  position:absolute;
  left:130px;
  top:160px;
  width:70px;
  height:20px;
}
#u6270 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u6271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6271 {
  position:absolute;
  left:928px;
  top:662px;
  width:32px;
  height:32px;
}
#u6272 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u6273 {
  position:absolute;
  left:421px;
  top:980px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u6274 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u6275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u6275 {
  position:absolute;
  left:594px;
  top:980px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u6276 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
