body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1098px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:2px;
}
#u6630 {
  position:absolute;
  left:20px;
  top:49px;
  width:1078px;
  height:1px;
}
#u6631 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6632 {
  position:absolute;
  left:1074px;
  top:19px;
  width:16px;
  height:16px;
}
#u6633 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
}
#u6634 {
  position:absolute;
  left:28px;
  top:60px;
  width:70px;
  height:23px;
}
#u6635 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6636 {
  position:absolute;
  left:8px;
  top:62px;
  width:862px;
  height:45px;
}
#u6637 {
  position:absolute;
  left:2px;
  top:14px;
  width:858px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:340px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(41, 48, 55, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6638 {
  position:absolute;
  left:8px;
  top:107px;
  width:122px;
  height:340px;
}
#u6639 {
  position:absolute;
  left:2px;
  top:162px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6640 {
  position:absolute;
  left:8px;
  top:149px;
  width:122px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u6641 {
  position:absolute;
  left:2px;
  top:13px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6642 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6643 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6644 {
  position:absolute;
  left:51px;
  top:159px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6645 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u6646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6646 {
  position:absolute;
  left:21px;
  top:160px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u6647 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u6648 {
  position:absolute;
  left:21px;
  top:199px;
  width:25px;
  height:24px;
  color:#FFFFFF;
}
#u6649 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6650 {
  position:absolute;
  left:50px;
  top:199px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6651 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u6652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u6652 {
  position:absolute;
  left:20px;
  top:241px;
  width:25px;
  height:22px;
  color:#FFFFFF;
}
#u6653 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6654 {
  position:absolute;
  left:50px;
  top:241px;
  width:62px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6655 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u6656 {
  position:absolute;
  left:21px;
  top:273px;
  width:100px;
  height:165px;
}
#u6656_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6657 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  color:#FFFFFF;
}
#u6658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6658 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u6659 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u6660 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u6661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6661 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6662 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u6663 {
  position:absolute;
  left:0px;
  top:40px;
  width:95px;
  height:20px;
  color:#FFFFFF;
}
#u6664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6664 {
  position:absolute;
  left:22px;
  top:0px;
  width:88px;
  height:20px;
}
#u6665 {
  position:absolute;
  left:3px;
  top:2px;
  width:83px;
  white-space:nowrap;
}
#u6666 {
  position:absolute;
  left:0px;
  top:60px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u6667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u6667 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u6667_img.selected {
}
#u6667.selected {
}
#u6668 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6669 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6670 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u6666_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6671 {
  position:absolute;
  left:20px;
  top:20px;
  width:54px;
  height:20px;
  color:#FFFFFF;
}
#u6672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6672 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u6673 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u6674 {
  position:absolute;
  left:20px;
  top:40px;
  width:67px;
  height:20px;
  color:#FFFFFF;
}
#u6675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6675 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u6676 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u6677 {
  position:absolute;
  left:20px;
  top:60px;
  width:54px;
  height:20px;
  color:#FFFFFF;
}
#u6678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6678 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u6679 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u6680 {
  position:absolute;
  left:0px;
  top:140px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u6681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6681 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6682 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u6683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6683 {
  position:absolute;
  left:38px;
  top:76px;
  width:200px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6684 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u6685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u6685 {
  position:absolute;
  left:721px;
  top:76px;
  width:20px;
  height:22px;
}
#u6686 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u6687 {
  position:absolute;
  left:746px;
  top:82px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u6688 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u6689 {
  position:absolute;
  left:822px;
  top:82px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u6690 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u6691 {
  position:absolute;
  left:807px;
  top:77px;
  width:15px;
  height:17px;
  color:#FFFFFF;
}
#u6692 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u6693 {
  position:absolute;
  left:22px;
  top:117px;
  width:26px;
  height:22px;
}
#u6694 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6695 {
  position:absolute;
  left:53px;
  top:117px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6696 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u6697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6697 {
  position:absolute;
  left:130px;
  top:107px;
  width:740px;
  height:340px;
  font-size:14px;
}
#u6698 {
  position:absolute;
  left:2px;
  top:162px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:281px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6699 {
  position:absolute;
  left:140px;
  top:159px;
  width:720px;
  height:281px;
}
#u6700 {
  position:absolute;
  left:2px;
  top:132px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  height:2px;
}
#u6701 {
  position:absolute;
  left:130px;
  top:145px;
  width:740px;
  height:1px;
}
#u6702 {
  position:absolute;
  left:2px;
  top:-8px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u6703 {
  position:absolute;
  left:151px;
  top:117px;
  width:37px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u6704 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u6705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6705 {
  position:absolute;
  left:140px;
  top:159px;
  width:720px;
  height:38px;
}
#u6706 {
  position:absolute;
  left:2px;
  top:11px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u6707 {
  position:absolute;
  left:151px;
  top:169px;
  width:61px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u6708 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u6709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u6709 {
  position:absolute;
  left:222px;
  top:169px;
  width:61px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u6710 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u6711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6711 {
  position:absolute;
  left:151px;
  top:241px;
  width:32px;
  height:32px;
}
#u6712 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u6713 {
  position:absolute;
  left:193px;
  top:246px;
  width:527px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u6714 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
#u6715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6715 {
  position:absolute;
  left:558px;
  top:220px;
  width:32px;
  height:32px;
}
#u6716 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6717 {
  position:absolute;
  left:151px;
  top:278px;
  width:32px;
  height:32px;
}
#u6718 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u6719 {
  position:absolute;
  left:193px;
  top:283px;
  width:527px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u6720 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
#u6721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6721 {
  position:absolute;
  left:558px;
  top:262px;
  width:32px;
  height:32px;
}
#u6722 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6723 {
  position:absolute;
  left:151px;
  top:310px;
  width:32px;
  height:32px;
}
#u6724 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u6725 {
  position:absolute;
  left:193px;
  top:320px;
  width:527px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u6726 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
#u6727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6727 {
  position:absolute;
  left:558px;
  top:304px;
  width:32px;
  height:32px;
}
#u6728 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6729 {
  position:absolute;
  left:151px;
  top:346px;
  width:32px;
  height:32px;
}
#u6730 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u6731 {
  position:absolute;
  left:193px;
  top:356px;
  width:527px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u6732 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
#u6733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6733 {
  position:absolute;
  left:400px;
  top:340px;
  width:32px;
  height:32px;
}
#u6734 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u6735 {
  position:absolute;
  left:193px;
  top:396px;
  width:527px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#199ED8;
}
#u6736 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
#u6737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6737 {
  position:absolute;
  left:151px;
  top:388px;
  width:32px;
  height:32px;
}
#u6738 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u6739 {
  position:absolute;
  left:780px;
  top:169px;
  width:37px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u6740 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u6741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6741 {
  position:absolute;
  left:140px;
  top:199px;
  width:80px;
  height:24px;
}
#u6742 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u6743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6743 {
  position:absolute;
  left:222px;
  top:199px;
  width:88px;
  height:24px;
}
#u6744 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u6745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6745 {
  position:absolute;
  left:320px;
  top:199px;
  width:100px;
  height:24px;
}
#u6746 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u6747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6747 {
  position:absolute;
  left:420px;
  top:199px;
  width:88px;
  height:24px;
}
#u6748 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u6749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6749 {
  position:absolute;
  left:518px;
  top:199px;
  width:88px;
  height:24px;
}
#u6750 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u6751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6751 {
  position:absolute;
  left:606px;
  top:199px;
  width:88px;
  height:24px;
}
#u6752 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
